<% if @page.user_created? -%>
  <%= link_to "Remover", admin_page_path(@page), method: :delete, class: 'btn btn-danger float-right ml-2', data: { confirm: 'Tem certeza?' } %>
<% end -%>
<%= link_to "Editar", edit_admin_page_path(@page), class: 'btn btn-primary float-right' %>
<h1 class="h4">
  Página: <%= @page.title %>
</h1>

<% if @page.user_created? -%>
  <p>
    <%= link_to page_url(id: @page.path), page_path(id: @page.path) %>
  </p>
<% end -%>

<hr>

<%= @page.html %>

<hr>

<p>
  <%= link_to "Voltar", admin_pages_path %>
</p>
