<%= form_for [:admin, @vaccine] do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="form-row">
    <div class="form-group col-md-8">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :legacy_name, class: 'small' %>
      <%= f.text_field :legacy_name, require: true, class: "form-control" %>
      <small id="emailHelp" class="form-text text-muted">
        Usado para vaccine_name legado, a ser removido no futuro.
      </small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :formal_name %>
      <%= f.text_field :formal_name, require: true, class: "form-control" %>
    </div>
  </div>

  <h5>Reforços</h5>

  <p>Em quanto tempo a segunda e terceira dose devem ser agendadas. Usado quando paciente faz check-out, para gerar novo atendimento. Deixe em branco se não houver uma segunda ou terceira dose.</p>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :second_dose_after_in_days %>
      <%= f.text_field :second_dose_after_in_days, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :third_dose_after_in_days %>
      <%= f.text_field :third_dose_after_in_days, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.submit class: 'form-control btn-primary' %>
    </div>
  </div>
<% end %>
