<div class="row">
  <div class="col">
    <strong>Data:</strong> <%= l appointment.start, format: :human %>
  </div>
</div>
<div class="row">
  <div class="col">
    <strong>Unidade:</strong> <%= appointment.ubs.name %>
  </div>
</div>
<div class="row">
  <div class="col">
    <strong>Endereço:</strong> <%= appointment.ubs.address %> (<%= appointment.ubs.neighborhood %>)
  </div>
</div>
<div class="row">
  <div class="col">
    <strong>Paciente:</strong> <%= appointment.patient.name %>
    (<%= ApplicationHelper.humanize_cpf appointment.patient.cpf %>)
  </div>
</div>

<div class="row">
  <div class="col text-muted">
    Código do agendamento: <%= "U#{@appointment.ubs_id}P#{@appointment.patient_id}A#{@appointment.id}" %>
  </div>
</div>

<% if appointment.vaccine_name.present? %>
  <div class="row">
    <div class="col" data-cy="appliedVaccineName">
      <strong>Vacina:</strong> <%= appointment.vaccine_name.capitalize %>
    </div>
  </div>
<% end %>
