<% unless @appointment.active %>
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        Este agendamento foi suspenso. Favor entrar em contato com o Ligue/Web Saúde no (47) 3481-5165,
        ou a Unidade de atendimento.
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="card">
    <h4 class="card-header" data-cy="scheduledAppointmentText">Sua vacinação agendada:</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= render @appointment %>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col">
            <strong>Imprima ou salve uma imagem esta página no seu celular para se lembrar do agendamento.</strong>
          </div>
        </div>

        <p>Para receber a vacina contra a Covid-19, seguir as instruções abaixo:</p>

        <%= render "shared/required_documents" %>

        <p class="mt-4">
          Lembre-se que você <strong>não poderá</strong> receber a vacina caso seja:
        </p>

        <ul>
          <li>Menor de 18 anos;</li>
          <li>Gestante ou Lactante (mulheres que estão amamentando) somente com autorização do médico;</li>
          <li>Esteja em estado febril;</li>
          <li>Tenha suspeita ou Covid-19 positivo nos últimos 30 dias;</li>
          <li>Tenha tomado qualquer outra vacina nos últimos 14 dias.</li>
        </ul>

        <p>
          Se você tiver uma das condições acima, solicitamos que cancele seu agendamento e reagendando-o no
          futuro quando sair da condição temporária.
        </p>
      </li>
      <li class="list-group-item d-print-none">
        <div class="row">
          <% if @appointment.can_cancel? -%>
            <div class="col">
              <%= button_to community_appointment_path(id: @appointment.id), method: :delete,
                            class: "btn btn-danger btn-block",
                            data: {
                              cy: "appointmentCancelButton",
                              confirm: "Confirma CANCELAR seu agendamento? Você poderá remarcar, porém estará sujeito a disponibilidade de vagas."
                            } do %>
                <%= t('buttons.cancel_appointment') %>
              <% end %>
            </div>
          <% end %>
          <div class="col">
            <% if @appointment.can_reschedule? -%>
              <%= link_to t('buttons.reschedule_appointment'),
                          community_appointments_path,
                          class: "btn btn-primary btn-block",
                          data: {
                            cy: "appointmentRescheduleButton",
                          } %>
            <% else -%>
              <div class="alert alert-warning" role="alert">
                <%= t("alerts.cannot_reschedule_yet", datetime: l(@appointment.can_reschedule_after, format: :human)) %>
              </div>
              <%= link_to t('buttons.reschedule_appointment'),
                          '#',
                          class: "btn btn-primary btn-block disabled",
                          data: {
                            cy: "disabledAppointmentRescheduleButton",
                          } %>
            <% end -%>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
