<% unless @appointment.active %>
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        Este agendamento foi suspenso. Favor entrar em contato com o Ligue/Web Saúde no (47) 3481-5165,
        ou a Unidade de atendimento.
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="card">
    <h4 class="card-header" data-cy="scheduledAppointmentText">Sua vacinação agendada:</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= render @appointment %>
      </li>
      <li class="list-group-item">
        <div class="row mb-3">
          <div class="col">
            <strong>Imprima ou salve uma imagem desta página no seu celular para se lembrar do agendamento.</strong>
          </div>
        </div>

        <%= embedded_page :patient_scheduled -%>
      </li>
      <li class="list-group-item d-print-none">
        <% if @can_cancel_or_reschedule -%>
          <div class="row">
            <div class="col">
              <%= button_to community_appointment_path(id: @appointment.id), method: :delete,
                            class: "btn btn-danger btn-block",
                            data: {
                              cy: "appointmentCancelButton",
                              confirm: "Confirma CANCELAR seu agendamento? Você poderá remarcar, porém estará sujeito a disponibilidade de vagas."
                            } do %>
                <%= t('buttons.cancel_appointment') %>
              <% end %>
            </div>
            <div class="col">
              <%= link_to t('buttons.reschedule_appointment'),
                            community_appointments_path,
                            class: "btn btn-primary btn-block",
                            data: {
                              cy: "appointmentRescheduleButton",
                            } %>
            </div>
          </div>
        <% else -%>
          <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="danger" data-cy="cannotCancelAndRescheduleText">
                  <h4 class="alert-title">
                  <%= t("alerts.cannot_reschedule_yet_head", datetime: l(@appointment.can_change_after, format: :human)) %>
                  </h4>
                  <%= t("alerts.cannot_reschedule_yet") %>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= link_to t('buttons.cancel_appointment'),
                          '#',
                          class: "btn btn-danger btn-block disabled",
                          data: {
                            cy: "disabledAppointmentCancelButton",
                          } %>
            </div>
            <div class="col">
              <%= link_to t('buttons.reschedule_appointment'),
                          '#',
                          class: "btn btn-primary btn-block disabled",
                          data: {
                            cy: "disabledAppointmentRescheduleButton",
                          } %>
            </div>
          </div>
        <% end -%>
      </li>
    </ul>
  </div>
</div>
