<% if @appointment.present? %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <% unless @appointment.active %>
          <div class="row">
            <div class="col">
              <div class="alert alert-danger" role="alert">
                Este agendamento foi suspenso. Favor entrar em contato com o Ligue/Web Saúde ou a Unidade de
                atendimento.
              </div>
            </div>
          </div>
        <% end %>

        <div class="row">
          <div class="col">
            <h4>Sua próxima vacinação:</h4>
          </div>
        </div>

        <%= render @appointment, full: true %>

        <div class="d-print-none">
          <hr>

          <div class="row mt-3">
            <div class="col">
              <%= button_to community_appointment_path(id: @appointment.id), method: :delete,
                            class: "btn btn-danger btn-block",
                            data: {
                              cy: "appointmentCancelButton",
                              confirm: "Confirma CANCELAR seu agendamento? Você poderá remarcar, porém estará sujeito a disponibilidade de vagas."
                            } do %>
                Cancelar este agendamento
              <% end %>
            </div>
            <div class="col">
              <%= link_to "Reagendar vacinação para outro dia, horário ou local",
                          community_appointments_path,
                          class: "btn btn-secondary btn-block",
                          data: {
                            cy: "appointmentRescheduleButton",
                          } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="row">
    <div class="col">
      <h4 class="text-center" data-cy="noAppointmentText">Você não possui vacinação agendada.</h4>

      <% if current_patient.can_schedule? -%>
        <% if @appointments_count.positive? -%>
          <%= link_to "Agendar sua vacina agora", community_appointments_path, class: "btn btn-primary", method: :post %>

          <p>
            No momento, há <%= @appointments_count %> doses disponíveis para seu grupo.
            Clicando no botão acima, um dose no primeiro dia e horário disponível será agendada para você.
            Você poderá então trocar para outro dia ou horário, caso haja disponibilidade, ou cancelar caso não possa
            comparecer no horário estipulado.
          </p>

        <% else -%>
          <p>
            Você faz parte de grupo para receber a vacina, mas no momento não temos disponibilidade de dose.
            Retorne aqui novamente para verificar futura disponibilidade.
          </p>

        <% end -%>

      <% else -%>
        <p>
          Você não faz parte de grupo que pode receber dose.
          Fique atento aos veículos de imprensa e a este site para saber quando você poderá agendar sua vacina.
        </p>
      <% end -%>
    </div>
  </div>
<% end %>
