<%= render "operator/shared/nav" %>

<% if @appointments.any? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Horário</th>
        <th scope="col">Paciente</th>
        <th scope="col">Telefones</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| -%>
        <tr data-cy="appointment">
          <th scope="row" class="align-middle">
            <%= l appointment.start, format: :short_hour %>
          </th>
          <td class="align-middle">
            <%= link_to appointment.patient.name, [:operator, appointment] %>
            <% # Only supports patients having 1 single type of vaccine. Need to rethink and redo this once we support same patient getting different vaccines %>
            <% appointment.patient.doses.count.tap do |doses_count| -%>
              <% if doses_count.positive? -%>
                <% appointment.patient.doses.each do |dose| %>
                  <small class="badge bg-success text-light" data-cy="patientCpf"><%= doses_count + 1 %><sup>a</sup> dose (<%= dose.vaccine.name %>)</small>
                <% end %>
              <% else -%>
                <small class="badge bg-light text-dark" data-cy="patientCpf">1<sup>a</sup> dose</small>
              <% end -%>
            <% end -%>
            <br>
            <small class="badge bg-light text-dark" data-cy="patientCpf"><%= ApplicationHelper.humanize_cpf appointment.patient.cpf %></small>
          </td>
          <td class="align-middle">
            <small class="text-muted">
              <%= [appointment.patient.phone.presence, appointment.patient.other_phone.presence].compact.join(", ") %>
            </small>
          </td>
          <td class="align-middle">
            <%
              case appointment.state
              when :suspended
            -%>
              <%= link_to "Reativar",
                          activate_operator_appointment_path(appointment),
                          method: :patch,
                          class: "btn btn-block btn-warning",
                          data: { confirm: t(:"appointments.confirmation.activate", name: appointment.patient.name) } %>
            <% when :checked_out -%>
              <%= link_to "Vacinado", [:operator, appointment], class: "btn btn-block btn-light",
                          data: { cy: "vaccinatedButton" } %>
            <% when :checked_in -%>
              <%= link_to "Check-out", [:operator, appointment], class: "btn btn-block btn-success",
                          data: { cy: "checkOutButton" } %>
            <% when :waiting -%>
              <%= link_to "Check-in", [:operator, appointment], class: "btn btn-block btn-primary",
                          data: { cy: "checkInButton" } %>
            <% end -%>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>

  <div>
    <%= paginate @appointments %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col mt-5">
        <%= link_to 'Exportar agendamentos do dia',
                    operator_appointments_path(filter: nil, search: nil, per_page: 10_000, format: :xlsx),
                    class: 'btn btn-block btn-outline-primary',
                    data: { confirm: "Tem certeza que deseja exportar agendamentos de hoje para planilha do Excel?" } %>
      </div>
    </div>
  </div>
<% else -%>
  <h3 data-cy="noAppointmentsText">Nenhum agendamento com os critérios selecionados para este dia.</h3>
<% end -%>
