<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :username, "Nome de usuário" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>
  <br/>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "Lembre-se de mim" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Entrar", class: 'btn btn-primary' %>
  </div>
<% end %>
