<div class="row text-center mb-5">
  <div class="col">
    <p class="h4">Validação do usuário para ver seu agendamento para a vacina contra a COVID-19</p>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col ">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.hidden_field :cpf, value: @patient.cpf %>

      <div class="form-group" >
        <%= f.label :password, "Selecione o primeiro nome da sua mãe:" %><br />
        <div style="text-align: left; padding-left: 42%;" >
          <% @mother_list.each do |mother| %>
            <%= f.radio_button(:password, mother, data: { cy: "#{mother}Buttom" }) %>
            <%= f.label(:password, mother) %><br/>
          <% end %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block", data: { cy: "loginButtom" } %>
      </div>
    <% end %>
  </div>
</div>

