<div class="row text-center">
  <div class="col">
    <p class="h3 mb-4">Sistema de agendamento de vacinas</p>
  </div>
</div>


<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col ">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.hidden_field :cpf, value: @patient.cpf %>

      <div class="form-group" >
        <%= f.label :password, "Selecione o primeiro nome da sua mãe" %><br />
        <%= f.select :password, @mother_list, {}, { class: 'form-control' } %>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

