<div class="row text-center mb-5">
  <div class="col">
    <p class="h4">Validação do usuário para ver seu agendamento para a vacina contra a COVID-19</p>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row text-center">
      <div class="col-md-12">
        <%= f.hidden_field :cpf, value: @patient.cpf %>

        <div class="form-group" >
          <%= f.label :password, "Selecione o primeiro nome da sua mãe:" %>
          <div style="text-align: center;" >
              <div class="btn-group-vertical mother-list" data-toggle="buttons">
                <%= collection_radio_buttons(:patient, :password, @mother_list, ->(x) { x }, ->(x) { x }) do |b| %>
                      <%= b.label(class: "btn btn-light", data: { cy: "#{b.text}Buttom" }) { b.radio_button + b.text } %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <%= f.submit "Entrar", class: "centered-button btn btn-primary", data: { cy: "loginButtom" } %>
      </div>
    </div>
<% end %>

