<h2>Log in</h2>

<% if resource.errors.present? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.each do |err| %>
        <li><%= err.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= f.hidden_field :cpf, value: @patient.cpf %>

  <div class="field">
    <%= f.label :password, "Nome da maravilinda da mãe" %><br />
    <%= f.select :password, @patient.mother_list %>
  </div>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>
