<div class="row text-center mb-5">
  <div class="col">
    <p class="h4">Atendimento para COVID-19 em Joinville</p>
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row text-center">
      <div class="col-md-12">
        <%= f.hidden_field :cpf, value: @patient.cpf %>

        <div class="form-group" >
          <%= f.label :password, "Selecione o primeiro nome da sua mãe:" %>
          <div style="text-align: center;" >
              <div class="btn-group-vertical mother-list" data-toggle="buttons">
                <%= collection_radio_buttons(:patient, :password, @mother_list, ->(x) { x }, ->(x) { x }) do |b| %>
                      <%= b.label(class: "btn btn-light") { b.radio_button( data: { cy: "#{b.label}Buttom" }) + b.text } %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <%= f.submit "Entrar", class: "centered-button btn btn-primary", data: { cy: "loginButtom" } %>
      </div>
    </div>
<% end %>

