<%= render :layout => '/shared/panel' do %>
  <% if @appointment.present? %>
    <div class="container">
      <div class="card">
        <div class="card-body">
          <% unless @appointment.active %>
            <div class="row">
              <div class="col">
                <div class="alert alert-danger" role="alert">
                  Seu agendamento foi suspenso. Favor entrar em contato com a Ubs.
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col">
              <h4>Seu agendamento atual é em:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <strong>Data: </strong><%= ApplicationHelper.humanize_datetime(@appointment.start) %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>UBS: </strong><%= @ubs.name %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Endereço: </strong><%= @ubs.address %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <strong>Telefone: </strong><%= @ubs.phone %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <%= button_to cancel_time_slot_path(appointment_id: @appointment.id), class: "btn btn-danger btn-block", method: :delete, data: { confirm: "Seu horário será cancelado. Confirmar?" } do %>
                Cancelar
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>
    <p id="notice"><%= notice %></p>
    <hr>
    <br/>
  <% end %>

  <% if @time_slots.present? %>
    <div class="container">
      <div class="row">
        <div class="col">
          <h4>Agendamentos disponíveis:</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <% @time_slots.each do |ubs, days| %>
            <div id=<%= "ubsId#{ubs.id}Accordion" %>>
              <div class="card">
                <div class="card-header" id=<%= "ubsId#{ubs.id}" %>>
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target=<%= "#ubsControl#{ubs.id}" %> aria-expanded="true" aria-controls=<%= "ubsControl#{ubs.id}" %>>
                      <%= ubs.identifier %>
                    </button>
                  </h5>
                </div>

                <div id=<%= "ubsControl#{ubs.id}" %> class="collapse" aria-labelledby=<%= "ubsId#{ubs.id}" %> data-parent=<%= "#ubsId#{ubs.id}Accordion" %>>
                  <div class="card-body">
                    <% days.each do |day, slots| %>
                      <% if day.on_weekday? %>
                        <div id=<%= "day#{ubs.id}Id#{day.to_s}Accordion" %>>
                          <div class="card">
                            <div class="card-header" id=<%= "day#{ubs.id}Id#{day.to_s}" %>>
                              <button class="btn btn-link" data-toggle="collapse" data-target=<%= "#day#{ubs.id}Control#{day.to_s}" %> aria-expanded="true" aria-controls=<%= "day#{ubs.id}Control#{day.to_s}" %>>
                                <%= ApplicationHelper.humanize_date(day) %>
                              </button>
                            </div>
                            <div id=<%= "day#{ubs.id}Control#{day.to_s}" %> class="collapse" aria-labelledby=<%= "day#{ubs.id}Id#{day.to_s}" %> data-parent=<%= "#day#{ubs.id}Id#{day.to_s}Accordion" %>>
                              <div class="card-body">
                                <div class="container">
                                  <% slots.each do |slot| %>
                                    <div class="row">
                                      <div class="col align-middle">
                                        Horário <br /> <%= ApplicationHelper.humanize_time(slot[:slot_start]) %>
                                        - <%= ApplicationHelper.humanize_time(slot[:slot_end]) %>
                                      </div>
                                      <div class="col text-right">
                                        <%= button_to @appointment.present? ? 'Substituir' : 'Agendar', schedule_time_slot_path(start_time: slot[:slot_start], ubs_id: ubs.id), class: "btn btn-success" %>
                                      </div>
                                    </div>
                                    <hr/>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end%>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <br/>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <p>Nenhuma nova vaga para agendamento disponível no momento. Tente novamente mais tarde.</p>
  <% end %>
<% end %>

