<% if @appointment.present? %>
  <h3>Seu agendamento atual é em:</h3>
  <ul>

    <li><strong>Data: </strong><%= ApplicationHelper.humanize_datetime(@appointment.start) %></li>
    <li><strong>UBS: </strong><%= @ubs.name %></li>
    <li><strong>Endereço: </strong><%= @ubs.address %></li>
    <li><strong>Telefone: </strong><%= @ubs.phone %></li>

    <%= button_to cancel_time_slot_path(appointment_id: @appointment.id), method: :delete, data: { confirm: "Seu horário será desagendado. Confirmar?" } do %>
      Cancelar
    <% end %>
  </ul>
  <% end %>

<p id="notice"><%= notice %></p>

<h3>Horários possíveis:</h3>

<% @time_slots.each do |ubs, days| %>
  <%= ubs.identifier %>

  <ul>
    <% days.each do |day, slots| %>
      <li>
        <%= ApplicationHelper.humanize_date(day) %>

        <ul>
          <% slots.each do |slot| %>
            <li> Inicio: <%= ApplicationHelper.humanize_time(slot[:slot_start]) %>. Fim: <%= ApplicationHelper.humanize_time(slot[:slot_end]) %> <%= button_to @appointment.present? ? 'Substituir' : 'Agendar', schedule_time_slot_path(start_time: slot[:slot_start], ubs_id: ubs.id) %> </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>

  <br/>
<% end %>
