<div class="row">
  <div class="col-12">
    <h1><a href="/ubs/"><%= @ubs.name %></a></h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% if @ubs.active %>
      <div class="d-flex justify-content-between align-items-center alert alert-success" role="alert">
        Unidade ativada: Aceitando agendamentos.
      </div>
    <% else %>
      <div class="d-flex justify-content-between align-items-center alert alert-danger" role="alert">
        Unidade desativada: Não aceitando agendamentos.
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="alert alert-info">Ao cancelar ou reativar um agendamento por favor entrar em contato com o paciente.</div>
  </div>
</div>

<div class="panel" style="border: 1px solid; border-color: black">
  <div class="row no-gutters" style="border: 1px solid; border-color: black">
    <div class="row no-gutters" style="border: 1px solid; border-color: black">
      <div class="col-6 text-center">
        <a href=<%= "/ubs/#{@ubs.id}/check_in" %>>Check-In</a>
      </div>
      <div class="col-6 text-center">
        <a href=<%= "/ubs/#{@ubs.id}/check_in/check_out_patients" %>>Check-Out</a>
      </div>
    </div>
    <div class="col-12">
      <h3> Cancelamento de Agendamentos </h3>

      <p>Nome: <%= @patient.name %></p>
      <p>CPF: <%= @patient.cpf %></p>
      <p>Grupos: <%= @patient.groups.pluck(:name) %></p>

      <p>Agendamento cancelado!</p>
    </div>
  </div>
</div>

