<h1><%= @ubs.name %></h1>

<% if @ubs.active %>
  <div class="d-flex justify-content-between align-items-center alert alert-success" role="alert">
    Unidade ativada: Aceitando agendamentos.
    <a class="btn btn-info" href=<%= "/ubs/#{@ubs.id}/check_in" %>>Check-In</a>
    <a class="btn btn-info" href=<%= "/ubs/#{@ubs.id}/check_in/check_out_patients" %>>Check-Out</a>
    <a class="btn btn-info" href=<%= "/ubs/" %>>Agendamentos</a>
    <a class="btn btn-danger" href=<%= "/ubs/#{@ubs.id}/deactivate_ubs" %>
    onclick="return confirm('Você tem certeza?')">Desativar Unidade</a>
  </div>
<% else %>
  <div class="d-flex justify-content-between align-items-center alert alert-danger" role="alert">
    Unidade desativada: Não aceitando agendamentos.
    <a class="btn btn-success" href=<%= "/ubs/#{@ubs.id}/activate_ubs" %>
    onclick="return confirm('Você tem certeza?')">Ativar Unidade</a>
  </div>
<% end %>

<div class="alert alert-info">Ao cancelar ou reativar um agendamento por favor entrar em contato com o paciente.</div>

<div class="mt-5">
  <h3> Check-In de Agendamentos </h3>

  <form action=<%= ubs_find_patients_path %> accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="/flyz5zuR6luhnW3lZP8YCOLixMKHjugPoNgwD60BZEhKrbnML6PJK1FGU2alZKfPz6Yzdt/0hHF3Pz22OP+8Q==">
    <div class="form-group">
      <input autofocus="autofocus" autocomplete="cpf" minlength="11" maxlength="11" class="form-control" aria-describedby="cpfHelpInLine" placeholder="Busca pelo CPF" size="11" type="text" name="patient[cpf]" id="patient_cpf">
      <small>OU</small>
      <input autofocus="autofocus" autocomplete="cpf" class="form-control" aria-describedby="cpfHelpInLine" placeholder="Busca pelo Nome" type="text" name="patient[name]" id="patient_name">
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Buscar" class="btn btn-secondary btn-block" data-disable-with="Buscar">
    </div>
  </form>
</div>
