<input type="hidden" name="patient[inquiry_answer_ids][]" value="">

<% InquiryQuestion.active.order(:position).each do |question| -%>
  <label for="inquiry_question_<%= question.id %>">
    <%= question.text %>
  </label>

  <div class="mb-3">
    <% question.inquiry_answers.active.order(:position).each do |answer| -%>
      <div class="form-check">
        <input class="form-check-input"
               type="<%= question.form_type %>"
               value="<%= answer.id %>"
               name="patient[inquiry_answers_via_questions][<%= question.id %>][]"
               id="patient_inquiry_answers_via_questions_<%= question.id %>_<%= answer.id %>"
               <%= 'checked' if f.object.inquiry_answer_ids.include?(answer.id) %>>
        <label class="form-check-label"
               for="patient_inquiry_answers_via_questions_<%= question.id %>_<%= answer.id %>">
          <%= answer.text %>
        </label>
      </div>
    <% end -%>
  </div>
<% end %>
