<div class="row text-center">
  <div class="col">
    <p class="h4">Agendamento para atendimento no Centro de Tratamento Precoce COVID-19 de Joinville</p>
  </div>
</div>

<div class="alert alert-info alert-dismissable mb-5 mt-5" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h6 class="mb-0" style="text-align: center;">
  <strong>IMPORTANTE:</strong> Essa é uma unidade que tem por objetivo <strong>tratar precocemente a Covid-19</strong>, para agendar seu atendimento você <strong>deve estar com sintomas respiratórios leves</strong> (nariz escorrendo, tossindo, espirrando, dor de cabeça, não estar sentindo cheiro e gosto ou dor no corpo), <strong>há no máximo 14 dias</strong>.<br/> 
  Caso esteja sentido esses sintomas há <strong>15 dias ou mais</strong>, procure o atendimento por demanda espontânea em uma <strong>unidade Sentinela próximo a sua residencia</strong>.
  </h6>
</div>

<p class="mt-5">Faça seu agendamento abaixo e dirija-se até a unidade escolhida com um documento de identificação em mãos.</p>

<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF' %>
        <small id="cpfHelpInLine" class="text-muted">
          Digite o CPF da pessoa a ser agendada.
          Sem pontuação, apenas números.
        </small>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img class="disk-health-banner" src=<%= image_path('joinville_contra_o_coronavirus_novo.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>


<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
