<div class="row text-center">
  <div class="col">
    <p class="h4">Agendar Vacinação Covid-19</p>
  </div>
</div>

<table class="table table-bordered center", style="width: 70%; margin-top: 10px; margin-left: auto; margin-right: auto;">
  <thead>
    <tr>
      <th scope="col">STATUS DO AGENDAMENTO</th>
      <th scope="col">GRUPOS QUE PODEM AGENDAR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if Appointment.where('patient_id IS NULL AND start > ?', Time.zone.now).count > 0 %>
          <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i> Em aberto
        <% elsif Ubs.where(active: true) %>
          <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> SEM HORÁRIO DISPONÍVEL
        <% else %>
          <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> Sem estoque
        <% end %>
      </td>
      <td>
        <% Patient::CONDITIONS.each do |name, _| %>
          <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i> <%= name %><br>
        <% end %>
      </td>
    </tr>
      </tbody>
</table>

<p>Este é o sistema para agendamento da vacinação contra o Covid-19 que acontece na Central de Imunização no Centreventos.</p>
<p><i>* O sistema de vacinação mostra o "status do agendamento" e os grupos que podem agendar no momento, dada ainda a ordem dos grupos prioritários.
  A vacinação é liberada para cada pessoa do status acima e ordem dos grupos prioritários.</i></p>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Iniciar Agendamento</h5>
    <p class="card-text"><b>CENTREVENTOS CAU HANSEN</b><br>
      Av. José Vieira, 315 - América, Joinville - SC, 89204-110<br>
      Telefone: (47) 3422-5951
</p>

    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
    <div class="form-row"">
        <div class="form-group col-md-9">
          <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF', data: { cy: "cpfInputField" } %>
        </div>

        <div class="form-group col-md-3">
          <%= f.submit "Agendar Vacinação", class: "btn btn-primary btn-block", data: { cy: "signUpButton" } %>
        </div>
    </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
      <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>

<style type="text/css">
 @media only screen and (min-width: 600px) {
   .disk-health-banner {
     width: 80%;
   }
 }

 @media only screen and (max-width: 600px) {
   .disk-health-banner {
     width: 100%;
   }
 }
</style>
