<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Vacinação Covid-19 <%= Settings[:city_name] %></h1>
    </div>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header text-center">
    Status do agendamento: &nbsp;
    <% if @appointments_any %>
      <i class="fa fa-check-circle color-green" aria-hidden="true"></i>
      Disponível
    <% else %>
      <i class="fa fa-circle color-red" aria-hidden="true"></i> Aguardando novas doses
    <% end %>
  </h5>
</div>

<div class="card mt-3">
  <h5 class="card-header">Prioridade de cadastro:</h5>
  <ul class="list-group list-group-flush">
    <% @can_register_condition_names.each do |name| -%>
      <li class="list-group-item">
        <i class="fa fa-circle color-skyblue" aria-hidden="true"></i> <%= name %>
      </li>
    <% end -%>
  </ul>
</div>

<div class="card mt-3">
  <h5 class="card-header">Grupos que podem agendar:</h5>
  <ul class="list-group list-group-flush">
    <% @can_schedule_conditions.each do |hash| -%>
      <li class="list-group-item">
        <h5 class="card-title">
          <i class="fa fa-check-circle <%= hash[:doses_count].positive? ? 'color-green' : 'color-goldenrod' %>" aria-hidden="true"></i> <%= hash[:name] %>
        </h5>
        <h6 class="card-subtitle mb-2">
          <% if hash[:doses_count].positive? -%>
            Até <%= hash[:doses_count] %> doses disponívels
          <% else -%>
            Nenhuma dose disponível no momento, tente novamente mais tarde
          <% end -%>
        </h6>
        <p class="card-text small text-muted">
          Disponível nas unidades:
          <%= hash[:ubs_names] %>
        </p>
      </li>
    <% end -%>
  </ul>
</div>

<div class="card mt-3">
  <h5 class="card-header">Cadastro e agendamento</h5>
  <div class="card-body">
    <%= form_for :patient, url: community_session_path, method: :post do |f| %>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">CPF</div>
            </div>
            <%= f.text_field :cpf,
                             autofocus: true,
                             minlength: 11, maxlength: 14,
                             required: true,
                             class: "form-control form-control-lg",
                             aria: { describedby: 'cpfHelpInLine' },
                             placeholder: '000.000.000-00',
                             data: { cy: "cpfInputField" } %>
            <div class="input-group-append">
              <%= f.submit "Acessar",
                           class: "btn btn-primary",
                           data: { cy: "signUpButton" } %>
            </div>
          </div>
          <small id="cpfInputField" class="text-muted">
            Digite o número do CPF para cadastrar ou, caso já tenha feito o cadastro, agendar ou consultar seu
            agendamento.
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="info-page">
  <%= embedded_page :home %>
</div>
