<div class="container">
  <div class="row text-center">
    <div class="col">
      <h1>Vacinação <%= Setting[:city_name] %> Covid-19</h1>
    </div>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header text-center">
    Status do agendamento: &nbsp;
    <% if @appointments_any %>
      <i class="fa fa-check-circle" aria-hidden="true" style="color: green"></i>
      Disponível
    <% else %>
      <i class="fa fa-circle" aria-hidden="true" style="color: red"></i> Aguardando novas doses
    <% end %>
  </h5>
</div>

<div class="card-group mt-3">
  <div class="card">
    <h5 class="card-header">Grupos que podem se cadastrar:</h5>
    <div class="card-body">
      <i class="fa fa-circle" aria-hidden="true" style="color: skyblue"></i> População com 60 anos ou mais <br/> <br/>
      <i class="fa fa-circle" aria-hidden="true" style="color: skyblue"></i> Trabalhadores da Saúde de qualquer idade
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Grupos que podem agendar:</h5>
    <div class="card-body">
      <% Patient::CONDITIONS.each do |name, _| %>
        <br/>
        <i class="fa fa-check-circle" aria-hidden="true" style="color: green"></i> <%= name %>
        <br/>
      <% end %>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <%= form_for :patient, url: community_session_path, method: :post do |f| %>
      <div class="form-row">
        <div class="form-group col-md-12">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">CPF</div>
            </div>
            <%= f.text_field :cpf,
                             autofocus: true,
                             minlength: 11, maxlength: 14,
                             required: true,
                             class: "form-control form-control-lg",
                             aria: { describedby: 'cpfHelpInLine' },
                             placeholder: '000.000.000-00',
                             data: { cy: "cpfInputField" } %>
            <div class="input-group-append">
              <%= f.submit "Acessar",
                           class: "btn btn-primary",
                           data: { cy: "signUpButton" } %>
            </div>
          </div>
          <small id="cpfInputField" class="text-muted">
            Digite o número do CPF para cadastrar ou, caso já tenha feito o cadastro, agendar ou consultar seu
            agendamento.
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="info-page">

<%= render "shared/ubs_list" %>

<%= render "shared/required_documents" %>
