<div class="row text-center mb-5">
  <div class="col">
    <p class="h4">Campanha Nacional de Vacinação contra Gripe em Joinville</p>
  </div>
</div>

<div class="alert alert-info alert-dismissable" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h6 class="mb-0">A vacinação contra a gripe no período de 16 de abril a 9 de maio de 2020 será exclusiva para <strong>pessoas acima de 60 anos ou com doenças crônicas</strong>. Após esse período, outros públicos serão atendidos. O agendamento poderá ser feito pela própria pessoa a ser vacinada, por um familiar ou outra pessoa próxima.</h6>
</div>

<p class="mt-5">Verifique <strong><%= link_to "Aqui", "/cartaz_doentes_cronicos.pdf", target: :_blank %></strong> a lista de doenças crônicas para que o cidadão possa realizar o agendamento da vacina.</p>

<p class="mt-5">Faça seu agendamento abaixo e dirija-se até a unidade escolhida com um documento de identificação em mãos.</p>

<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF' %>
        <small id="cpfHelpInLine" class="text-muted">
          Digite o CPF da pessoa a ser vacinada.
          Sem pontuação, apenas números.
        </small>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre eventos de vacinação da cidade, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/?post_type=evento&tag-tipo-evento=conscientizacao&s=">https://www.joinville.sc.gov.br/evento/conscientizacao/</a></small>
  </div>
</div>
