<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col">
    <p class="h4">Vacinação Covid-19</p>
  </div>
</div>

<table class="table table-bordered center", style="width: 100%; margin-top: 10px; margin-left: auto; margin-right: auto;">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">GRUPOS QUE PODEM SE CADASTRAR</th>
      <th scope="col" style="width: 50%">GRUPOS QUE PODEM AGENDAR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <i class="fa fa-circle" aria-hidden="true" style="color: skyblue;"></i> População com 60 anos ou mais <br /> <br />
        <i class="fa fa-circle" aria-hidden="true" style="color: skyblue;"></i> Trabalhadores da Saúde de qualquer idade <br />
      </td>
      <td>
        <% Patient::CONDITIONS.each do |name, _| %>
          <br />
          <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i> <%= name %>
          <br />
        <% end %>
      </td>
    </tr>
      <th scope="col">STATUS DO AGENDAMENTO</th>
      <td>
        <% unless @is_scheduling_available %>
          <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> Aguardando novas doses
        <% else %>
          <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i> Disponível
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div class="card">
  <div class="card-body">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-row">
        <div class="form-group col-md-9">
          <%= f.text_field :cpf, autofocus: true, minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF', data: { cy: "cpfInputField" } %>
        </div>

        <div class="form-group col-md-3">
          <%= f.submit "Avançar", class: "btn btn-primary btn-block", data: { cy: "signUpButton" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <h2 class="lp-header">Outros Locais de Vacinação</h2>
<p>É possível vacinar-se nas Unidades básicas de saúde, onde não é necessário o agendamento prévio. A disponibilidade das vacinas nas UBS (Unidade Básica de Saúde) se dá: 1º por ordem dos grupos prioritários e 2º pelo estoque disponível na UBS.</p>

<%= render "shared/ubs_list" %>

<h2 class="lp-header">Dúvidas frequentes sobre a vacinação</h2>

<p><strong><a href='https://www.joinville.sc.gov.br/vacina-do-coronavirus-em-joinville-perguntas-e-respostas/', target='blank'>Consulte aqui</a></strong> perguntas e respostas referente à aplicação da vacina contra o coronavírus.</p>

<p>Confira o que pode e o que não pode em Joinville com base nas medidas para combater a pandemia de Covid-19 <strong><a href='https://www.joinville.sc.gov.br/medidas-vigentes-de-enfrentamento-do-coronavirus-em-joinville/', target='blank'>clicando aqui</a></strong>.</p>


<h4 class="lp-header">Quem não pode tomar a vacina</h4>
<ul>
  <li>Menores de 18 anos;</li>
  <li>Gestantes e Lactantes (mulheres que estão amamentando);</li>
  <li>Pessoas com estado febril;</li>
  <li>Pessoas que tiveram suspeita ou COVID-19 positivo nos últimos 30 dias;</li>
  <li>Quem tomou qualquer outro tipo de vacina nos últimos 15 dias.</li>
</ul>

<h4 class="lp-header">Recebendo a vacina</h4>

<p>Para receber a vacina contra a Covid-19, seguir as instruções abaixo:</p>
<ol>
  <li>Reunir os seguintes documentos:</li>
  <ol>
    <li>Documento oficial de identificação com foto.</li>
    <li>Crachá funcional ou holerite/folha de pagamento ou declaração que comprove o vínculo com o serviço de saúde no Município de Joinville
     (em caso de terceirizados e estagiários, a declaração deve ser emitida pelo serviço de saúde contratante, para comprovar o vínculo).</li>
    <li>Se trabalhador atuante em serviços de saúde no Município de Joinville com comorbidades estabelecidas pelo Programa Nacional de Imunização (PNI),
      apresentar  atestado, declaração, laudo ou receita médica que comprove a condição clínica.</li>
    <li>Se imunossuprimido, obrigatório apresentar liberação médica por escrito autorizando a aplicação da vacina.</li>
    <li>Considerando o Item 4 do Ofício OFÍCIO Nº 234/2021/CGPNI/DEIDT/SVS/MS de 11 de março de 2021, os estabelecimentos de Interesse à Saúde (exemplos: academias de ginástica, clubes, salão de beleza, clínica de estética, óticas, estúdios de tatuagem e estabelecimentos de saúde animal) NÃO serão contemplados nos grupos prioritários elencados inicialmente para a vacinação. Consulte este documento na íntegra <strong><a href='https://sei.saude.gov.br/sei/controlador_externo.php?acao=documento_conferir&codigo_verificador=0019503426&codigo_crc=F8270EA1&hash_download=c75bb47fcc0d5d0b70b40bfd0848238db8354ea36398aa3693f563ee1e2838c3c15ca16c8fb14a06cc1ff05aca00c096844b00e346a47e9011758fa6cfd98f47&visualizacao=1&id_orgao_acesso_externo=0', target='blank'>AQUI</a></strong>.</li>
  </ol>
  <li>Com os documentos, comparecer à Central de Imunização de Joinville, no Centreventos Cau Hansen, na data e horário agendados (estar no local com 15 minutos de antecedência).</li>
</ol>
<p>Mais informações sobre a vacinação contra a Covid-19 no Município de Joinville estão disponíveis na página <a href='https://www.joinville.sc.gov.br/coronavirus/', target='blank'>Coronavírus em Joinville</a>.</p>

<p><b>Ligue/Web Saúde</b>: <a href='https://api.whatsapp.com/send?phone=554734815165', target='blank'>(47) 3481-5165</a> - Segunda a sexta-feira - 07:00–20:00, exceto feriados e pontos facultativos.</p>


<h4 class="lp-header">Como funcionará a vacinação na Central de Imunização do Centreventos?</h4>
<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('fluxo_vacinacao.png') %> class="comm-img" />
  </div>
</div>

<h4 class="lp-header">Qual o horário de atendimento?</h4>
<ul>
  <li>Central de Imunização (Centreventos): Segunda a Sexta-feira - 07:30–16:30.</li>
  <%# <li>Todas as Unidades Básicas de Saúde:  Segunda a sexta-feira - 07:00–20:00.</li> %>
</ul>

<h4 class="lp-header">Quanto custa?</h4>
<p>Este serviço é gratuito.</p>

<h4 class="lp-header">Quanto tempo leva?</h4>
<p>O atendimento completo a partir da recepção no local até a imunização leva <strong>aproximadamente 40 minutos</strong>.</p>

<h2 class="lp-header">Sobre estas informações</h2>
<h4 class="lp-header">Unidade(s) responsável(is)</h4>
<ul>
  <li><a href="https://www.joinville.sc.gov.br/institucional/ses/">Secretaria da Saúde – SES</a></li>
</ul>
<h4 class="lp-header">Atos regulamentadores</h4>
<ul>
  <li><a href="http://www.sc.gov.br/images//Informe_Tcnico_SINOVAC_2.pdf" target="_blank">Informe técnico Secretaria Estadual de Saúde</a></li>
</ul>

<h2 class="lp-header">Manifestar-se</h2>
<p><a href="https://www.joinville.sc.gov.br/servicos/registrar-manifestacao-a-ouvidoria/">Registrar manifestação</a> para reclamação, sugestão ou elogio sobre estas informações. Para informações adicionais, <a href="https://www.joinville.sc.gov.br/servicos/registrar-pedido-de-informacao/">registrar pedido de informação</a>.</p>

<%= render "shared/orientation_text" %>

<style type="text/css">
  @media only screen and (min-width: 600px) {
  .disk-health-banner {
  width: 80%;
  }
  }

  @media only screen and (max-width: 600px) {
  .disk-health-banner {
  width: 100%;
  }
  }
</style>
