<div class="row text-center">
  <div class="col">
    <p class="h4">Agendamento para Teste Rápido de SARS COVID-19</p>
  </div>
</div>

<div class="alert alert-info alert-dismissable mb-5 mt-5" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <h6 class="mb-0" style="text-align: center;">O atendimento somente será realizado para pessoas a partir de 14 anos que apresentem algum destes sintomas: mal-estar leve, coriza, tosse, espirro, dor de cabeça, perda de olfato ou perda de paladar.<br/>
  Qualquer dúvida, entre em contato com Ligue/Web Saúde por telefone no <strong>3481-5165</strong> ou via mensagem de WhatsApp neste mesmo número.<br/></h6>
</div>

<!-- <p class="mt-5">Verifique <strong><%= link_to "Aqui", "/cartaz_doentes_cronicos.pdf", target: :_blank %></strong> a lista de doenças crônicas para que o cidadão possa realizar o agendamento da vacina.</p> -->

<p class="mt-5">Faça seu agendamento abaixo e dirija-se até a unidade escolhida com um documento de identificação em mãos.</p>

<% if flash[:notice] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF' %>
        <small id="cpfHelpInLine" class="text-muted">
          Digite o CPF da pessoa a ser testada.
          Sem pontuação, apenas números.
        </small>
      </div>

      <div class="actions">
        <%= f.submit "Entrar", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img class="disk-health-banner" src=<%= image_path('joinville_contra_o_coronavirus_novo.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>


<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
