<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col">
    <p class="h4">Vacinação Covid-19</p>
  </div>
</div>

<table class="table table-bordered center", style="width: 100%; margin-top: 10px; margin-left: auto; margin-right: auto;">
  <thead>
    <tr>
      <th scope="col" style="width: 50%">GRUPOS QUE PODEM SE CADASTRAR</th>
      <th scope="col" style="width: 50%">GRUPOS QUE PODEM AGENDAR</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <i class="fa fa-circle" aria-hidden="true" style="color: skyblue;"></i> População com 60 anos ou mais <br /> <br />
        <i class="fa fa-circle" aria-hidden="true" style="color: skyblue;"></i> Trabalhadores da Saúde de qualquer idade <br />
      </td>
      <td>
        <% Patient::CONDITIONS.each do |name, _| %>
          <br />
          <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i> <%= name %>
          <br />
        <% end %>
      </td>
    </tr>
      <th scope="col">STATUS DO AGENDAMENTO</th>
      <td>
        <% unless @is_scheduling_available %>
          <i class="fa fa-circle" aria-hidden="true" style="color: red;"></i> Aguardando novas doses
        <% else %>
          <i class="fa fa-circle" aria-hidden="true" style="color: green;"></i> Disponível
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<div class="card">
  <div class="card-body">
    <%= form_for(:patient, url: patient_base_login_path) do |f| %>
      <div class="form-row">
        <div class="form-group col-md-9">
          <%= f.text_field :cpf, autofocus: true, minlength: 11, maxlength: 11, required: true, class: "form-control", 'aria-describedby' => 'cpfHelpInLine', placeholder: 'CPF', data: { cy: "cpfInputField" } %>
        </div>

        <div class="form-group col-md-3">
          <%= f.submit "Avançar", class: "btn btn-primary btn-block", data: { cy: "signUpButton" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <h2 class="lp-header">Outros Locais de Vacinação</h2>
<p>É possível vacinar-se nas Unidades básicas de saúde, onde não é necessário o agendamento prévio. A disponibilidade das vacinas nas UBS (Unidade Básica de Saúde) se dá: 1º por ordem dos grupos prioritários e 2º pelo estoque disponível na UBS.</p>

<%= render "shared/ubs_list" %>

<h2 class="lp-header">Dúvidas frequentes sobre a vacinação</h2>

<p><strong><a href='https://www.joinville.sc.gov.br/vacina-do-coronavirus-em-joinville-perguntas-e-respostas/', target='blank'>Consulte aqui</a></strong> perguntas e respostas referente à aplicação da vacina contra o coronavírus.</p>

<p>Confira o que pode e o que não pode em Joinville com base nas medidas para combater a pandemia de Covid-19 <strong><a href='https://www.joinville.sc.gov.br/medidas-vigentes-de-enfrentamento-do-coronavirus-em-joinville/', target='blank'>clicando aqui</a></strong>.</p>


<h4 class="lp-header">Quem não pode tomar a vacina</h4>
<ul>
  <li>Menores de 18 anos;</li>
  <li>Gestantes e Lactantes (mulheres que estão amamentando);</li>
  <li>Pessoas com estado febril;</li>
  <li>Pessoas que tiveram suspeita ou COVID-19 positivo nos últimos 30 dias;</li>
  <li>Quem tomou qualquer outro tipo de vacina nos últimos 15 dias.</li>
</ul>

<h4 class="lp-header">Recebendo a vacina</h4>

<%= render "shared/requires_documents" %>
<p>Mais informações sobre a vacinação contra a Covid-19 no Município de Joinville estão disponíveis na página <a href='https://www.joinville.sc.gov.br/coronavirus/', target='blank'>Coronavírus em Joinville</a>.</p>

<p><b>Ligue/Web Saúde</b>: <a href='https://api.whatsapp.com/send?phone=554734815165', target='blank'>(47) 3481-5165</a> - Segunda a sexta-feira - 07:00–20:00, exceto feriados e pontos facultativos.</p>


<h4 class="lp-header">Como funcionará a vacinação na Central de Imunização do Centreventos?</h4>
<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('fluxo_vacinacao.png') %> class="comm-img" />
  </div>
</div>

<h4 class="lp-header">Qual o horário de atendimento?</h4>
<ul>
  <li>Central de Imunização (Centreventos): Segunda a Sexta-feira - 07:30–16:30.</li>
  <%# <li>Todas as Unidades Básicas de Saúde:  Segunda a sexta-feira - 07:00–20:00.</li> %>
</ul>

<h4 class="lp-header">Quanto custa?</h4>
<p>Este serviço é gratuito.</p>

<h4 class="lp-header">Quanto tempo leva?</h4>
<p>O antedimento completo, a partir da recepção no local até a imunização, pode levar aproximadamente 40 minutos</p>


<h2 class="lp-header">Sobre estas informações</h2>
<h4 class="lp-header">Unidade(s) responsável(is)</h4>
<ul>
  <li><a href="https://www.joinville.sc.gov.br/institucional/ses/">Secretaria da Saúde – SES</a></li>
</ul>
<h4 class="lp-header">Atos regulamentadores</h4>
<ul>
  <li><a href="http://www.sc.gov.br/images//Informe_Tcnico_SINOVAC_2.pdf" target="_blank">Informe técnico Secretaria Estadual de Saúde</a></li>
</ul>

<h2 class="lp-header">Manifestar-se</h2>
<p><a href="https://www.joinville.sc.gov.br/servicos/registrar-manifestacao-a-ouvidoria/">Registrar manifestação</a> para reclamação, sugestão ou elogio sobre estas informações. Para informações adicionais, <a href="https://www.joinville.sc.gov.br/servicos/registrar-pedido-de-informacao/">registrar pedido de informação</a>.</p>



<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">
      <a href="https://www.joinville.sc.gov.br/coronavirus/"><u>Acompanhe as principais informações sobre o combate ao coronavírus em Joinville</u></a>
    </small>
  </div>
</div>

<style type="text/css">
  @media only screen and (min-width: 600px) {
  .disk-health-banner {
  width: 80%;
  }
  }

  @media only screen and (max-width: 600px) {
  .disk-health-banner {
  width: 100%;
  }
  }
</style>
