<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.hidden_field :cpf, value: @patient.cpf %>

  <div class="row text-center">
    <div class="col">
      <p class="h3">Edite seus dados</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, "Nome Completo" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :mother_name, "Nome da mãe" %>
      <%= f.text_field :mother_name, autofocus: true, autocomplete: "mother_name", required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :birth_date, "Data de nascimento" %>
      <div class="form-row">
        <%
          year = @patient.birth_date[0..3].to_i
          month = @patient.birth_date[5..6].to_i
          day = @patient.birth_date[8..9].to_i
        %>
        <%= f.date_select :birth_date, { selected: { year: year, month: month, day: day }, start_year: 1900 , with_css_classes: true } , autofocus: true, autocomplete: "birth_date", required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :sus, "Cartão SUS" %>
      <%= f.number_field :sus, autofocus: true, autocomplete: "sus", required: false, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: false, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :public_place, "Endereço (Rua, Avenida)" %>
      <%= f.text_field :public_place, autofocus: true, autocomplete: "place", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :place_number, "Número" %>
      <%= f.text_field :place_number, autofocus: true, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :neighborhood, "Bairro" %>
      <%= f.select :neighborhood, Neighborhood.pluck(:name), {},  { class: "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :phone, "Telefone" %>
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :other_phone, "Telefone Secundário (opcional)" %>
      <%= f.text_field :other_phone, autofocus: true, autocomplete: "other_phone", required: false, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.submit "Salvar", class: "btn btn-primary btn-block pull-right" %>
    </div>
    <div class="form-group col-md-6">
      <div class="text-right">
        <%= link_to :back, class: "btn btn-secondary btn-block pull-left" do %>
          Voltar
        <% end %>
      </div>
    </div>
  </div>
<% end %>
