<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "patients/shared/error_messages", resource: resource %>

  <%= f.hidden_field :cpf, value: @cpf %>

  <div class="row text-center">
    <div class="col">
      <p class="h3">Cadastro</p>
    </div>
  </div>

  <div class="alert alert-info alert-dismissable mb-5 mt-5" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h6 class="mb-0" style="text-align: center;">O atendimento somente será realizado para pessoas maiores de 14 anos que apresentem algum destes sintomas: mal-estar leve, coriza, tosse, espirro, dor de cabeça, perda de olfato ou perda de paladar.<br/>
    Qualquer dúvida, entre em contato com Ligue/Web Saúde por telefone no <strong>3481-5165</strong> ou via mensagem de WhatsApp neste mesmo número.<br/></h6>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, "Nome Completo" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :mother_name, "Nome da mãe" %>
      <%= f.text_field :mother_name, autofocus: true, autocomplete: "mother_name", required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :birth_date, "Data de nascimento" %>
      <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: false, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :neighborhood, "Bairro" %>
      <%= f.select :neighborhood, Neighborhood.pluck(:name), {},  { class: "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :phone, "Telefone" %>
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :other_phone, "Telefone Secundário (opcional)" %>
      <%= f.text_field :other_phone, autofocus: true, autocomplete: "other_phone", required: false, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :sus, "Cartão SUS (somente números - opcional)" %>
      <%= f.number_field :sus, autofocus: true, autocomplete: "sus", required: false, class: "form-control" %>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <p class="h4 mb-4 mt-4">Situação</p>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <div class="form-check">
        <%= f.check_box :bedridden, autofocus: true, class: "form-check-input" %>
        <%= f.label :bedridden, "Paciente acamado ou com deficiência que impossibilita a locomoção", class: "form-check-label" %>
        <small class="form-text text-muted">Marque esta opção se necessita de atendimento domiciliar</small>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.submit "Cadastrar", class: "btn btn-primary btn-block pull-right" %>
    </div>
    <div class="form-group col-md-6">
      <div class="text-right">
        <%= link_to :back, class: "btn btn-secondary btn-block pull-left" do %>
          Voltar
        <% end %>
      </div>
    </div>
  </div>
<% end %>
