<% if flash[:alert].present? %>
  <% flash[:alert].each do |msg| %>
    <div class="alert alert-danger">
      <%= I18n.t("activerecord.models.attributes.#{msg.first}") %>
      <%= msg.second %>
    </div>
  <% end %>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "patients/shared/error_messages", resource: resource %>

  <%= f.hidden_field :cpf, value: @cpf %>

  <div class="row text-center">
    <div class="col">
      <h2 data-cy="signUpText">Cadastro</h2>
    </div>
  </div>

  <div class="alert alert-info alert-dismissable mb-5 mt-5" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h6 class="mb-0" style="text-align: center;">
      Neste momento somente <strong>Trabalhadores de Saúde de todas as idades ativos no município de Joinville</strong> e <strong>População em geral com 60 anos mais</strong> devem se cadastrar. <br />
      O pré-cadastro vai até dia <strong>03/02/2021 (quarta-feira)</strong> até o meio dia.<br/>
      O agendamento será liberado após a análise dos cadastros realizados.
    </h6>
  </div>

  <h3 class="text-center">Dados Pessoais</h3>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, "Nome Completo" %> <b style="color: red;">*</b>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, class: "form-control", data: { cy: "newPatientNameInputField" } %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: false, class: "form-control", data: { cy: "newPatientEmailInputField" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :birth_date, "Data de nascimento" %> <b style="color: red;">*</b>
      <div class="form-row">
        <%
          start_year = (Date.current.year.to_i) - 18
        %>
        <%= f.date_select :birth_date, { start_year: start_year, end_year: 1900, with_css_classes: true } , autofocus: true, autocomplete: "birth_date", required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :mother_name, "Nome da mãe" %> <b style="color: red;">*</b>
      <%= f.text_field :mother_name, autofocus: true, autocomplete: "mother_name", required: true, class: "form-control", data: { cy: "newPatientMotherNameInputField" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6" data-cy="patientGroups">
      <%= f.label :groups, "Grupo(s) que faz parte (opcional):" %>
      <div class="form-check">
        <%= f.collection_check_boxes :groups, Group.where(parent_group_id: nil), :id, :name do |b| %>
          <div class="row">
            <%= b.label { b.check_box(checked: @patient.groups.map(&:id).include?(b.value), class: "form-check-input #{"healthWorker" if b.text == "Trabalhador(a) da Saúde"}", onclick: "updateSubGroups(#{b.value});") + b.text }%>
          </div>

          <% if Group.where(parent_group_id: b.value).any? %>
            <div class="form-row" hidden=true id="<%= "subgroups-list-#{b.value}" %>">
              <div class="form-group col-md-8" data-cy="patientGroups">
                <div class="form-check">
                  <%= f.collection_check_boxes :groups, Group.where(parent_group_id: b.value), :id, :name do |s| %>
                    <div class="row">
                      <%= s.label { s.check_box(checked: @patient.groups.map(&:id).include?(s.value), class: "form-check-input #{"specificComorbidity" if s.text == "Outra(s)"}") + s.text } %>
                    </div>
                    <% if s.text == "Outra(s)" %>
                      <div class="row" id="specific-comorbidity-input">
                        <div class="form-group col-md-12">
                          <%= f.text_field :specific_comorbidity, autofocus: true, required: false, class: "form-control" %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="row" hidden=true id="alert-health-worker" style="color: red;">
        <strong>Atenção:</strong> Para receber a vacina, será necessário apresentar a comprovação de vínculo ativo em algum estabelecimento de saúde na cidade de Joinville.
      </div>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :sus, "Cartão SUS" %>
      <%= f.number_field :sus, autofocus: true, autocomplete: "sus", required: false, class: "form-control", data: { cy: "newPatientSusNumberInputField" } %>
    </div>
  </div>

  <h3 class="text-center">Endereço</h3>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :public_place, "Endereço (Rua, Avenida)" %> <b style="color: red;">*</b>
      <%= f.text_field :public_place, autofocus: true, autocomplete: "place", required: true, class: "form-control", data: { cy: "newPatientStreetNameInputField" } %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :place_number, "Número" %> <b style="color: red;">*</b>
      <%= f.text_field :place_number, autofocus: true, required: true, class: "form-control", data: { cy: "newPatientStreetNumberInputField" } %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :neighborhood, "Bairro" %> <b style="color: red;">*</b>
      <%= f.select :neighborhood, Neighborhood.pluck(:name), {}, { class: "form-control", data: { cy: "newPatientNeighborhoodNameInputField" } } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :phone, "Telefone" %> <b style="color: red;">*</b>
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", required: true, class: "form-control sp-celphones", data: { cy: "newPatientPhoneNumberInputField" } %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :other_phone, "Telefone Secundário (opcional)" %>
      <%= f.text_field :other_phone, autofocus: true, autocomplete: "other_phone", required: false, class: "form-control sp-celphones", data: { cy: "newPatientOtherPhoneNumberInputField" } %>
    </div>
  </div>

  <b style="color: red;">* Campos obrigatórios</b>

  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="text-center">
        <%= link_to :back, class: "simple-link" do %>
          cancelar
        <% end %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <%= f.submit "Cadastrar", class: "btn btn-primary btn-block pull-right", data: { cy: "newPatientSubmitButton" } %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    <% Group.where(parent_group_id: nil).each do |group| %>
    <%= "updateSubGroups(#{group.id});" %>
    <% end %>

    initializeSpecificComorbidityOnChange();
    toggleSpecificComorbidity();

    initializeHealthWorkerOnChange();
    toggleHealthWorker();
  });
</script>
