<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Cadastro</p>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "patients/shared/error_messages", resource: resource %>

  <%= f.hidden_field :cpf, value: @cpf %>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :name, "Nome Completo" %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :mother_name, "Nome da mãe" %>
      <%= f.text_field :mother_name, autofocus: true, autocomplete: "mother_name", required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :birth_date, "Data de nascimento" %>
      <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: false, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :neighborhood, "Bairro" %>
      <%= f.select :neighborhood, Neighborhood.pluck(:name), {},  { class: "form-control" } %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :phone, "Telefone" %>
      <%= f.text_field :phone, autofocus: true, autocomplete: "phone", required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :other_phone, "Telefone Secundário (opcional)" %>
      <%= f.text_field :other_phone, autofocus: true, autocomplete: "other_phone", required: false, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :sus, "Cartão SUS (somente números - opcional)" %>
      <%= f.number_field :sus, autofocus: true, autocomplete: "sus", required: false, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <div class="checkbox-inline">
          <%= f.check_box :chronic, autofocus: true %>
          <%= f.label :chroric, "Possuo doença crônica" %>
          (<%= link_to "Saiba Mais", "/cartaz_doentes_cronicos.pdf", target: :_blank %>)
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.submit "Cadastrar", class: "btn btn-primary btn-block pull-right" %>
    </div>
    <div class="form-group col-md-6">
      <div class="text-right">
        <%= link_to :back, class: "btn btn-secondary btn-block pull-left" do %>
          Voltar
        <% end %>
      </div>
    </div>
  </div>
<% end %>
