<h2>Cadastro</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "patients/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "Nome Completo" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :cpf, "CPF (somente números)" %><br />
    <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", minlength: 11, maxlength: 11, required: true %>
  </div>

  <div class="field">
    <%= f.label :mother_name, "Nome da mãe" %><br />
    <%= f.text_field :mother_name, autofocus: true, autocomplete: "mother_name", required: true %>
  </div>

  <div class="field">
    <%= f.label :birth_date, "Data de nascimento" %><br />
    <%= f.date_field :birth_date, autofocus: true, autocomplete: "birth_date", required: true %>
  </div>

  <div class="field">
    <%= f.label :phone, "Telefone" %><br />
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone", required: true %>
  </div>

  <div class="field">
    <%= f.label :neighborhood, "Bairro" %><br />
    <%= f.text_field :neighborhood, autofocus: true, autocomplete: "neighborhood", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>

<%= render "patients/shared/links" %>
