<%= render "operator/shared/nav" %>

<h2>
  Paciente: <%= @patient.name %>
</h2>

<br/>

<div class='row'>
  <div class='col'>
    <strong>CPF:</strong> <%= ApplicationHelper.humanize_cpf(@patient.cpf) %>
  </div>

  <div class='col'>
    <strong>Nome da mãe:</strong> <%= @patient.mother_name %>
  </div>

  <div class='col'>
    <strong>Data de Nascimento:</strong> <%= l(@patient.birth_date.to_date) %>
  </div>
</div>

<br/>
<hr>
<br/>

<p>
  <% if @patient.locked? -%>
    Paciente bloqueado.
    <%= link_to "Desbloquear", unblock_operator_patient_path(id: @patient.id), method: :patch,
                class: "btn btn-secondary " %>
  <% end -%>
</p>

<div class="mt-4 mb-5">
  <% if @patient.appointments.any? -%>
    <h4>Agendamentos deste paciente</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Data agendada</th>
        <th scope="col">Unidade</th>
        <th scope="col">Check-in</th>
        <th scope="col">Check-out</th>
        <th scope="col">Vacina</th>
        <th scope="col">Suspenso?</th>
      </tr>
      </thead>
      <tbody>

      <% @patient.appointments.each do |appointment| -%>
        <tr>
          <th scope="row">
            <strong><%= l(appointment.start, format: :human) %></strong>
          </th>
          <td>
            <%= appointment.ubs.name %>
          </td>
          <td>
            <% if appointment.checked_in? -%>
              <%= l(appointment.check_in, format: :human) %>
            <% end -%>
          </td>
          <td>
            <% if appointment.checked_out? -%>
              <%= l(appointment.check_out, format: :human) %>
            <% end -%>
          </td>
          <td>
            <%= appointment.vaccine_name %>
          </td>
          <td>
            <%= appointment.active ? "Não" : "Suspenso por #{appointment.suspend_reason}" %>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  <% else -%>
    <h4>Paciente sem nenhum agendamento realizado.</h4>
  <% end -%>
</div>

<div class="mt-4 mb-5">
  <% if @patient.doses.any? -%>
    <h4>Vacinas aplicadas neste paciente:</h4>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Data da aplicação</th>
        <th scope="col">Unidade</th>
        <th scope="col">Vacina</th>
        <th scope="col">Dose</th>
      </tr>
      </thead>
      <tbody>

      <% @patient.doses.each do |dose| -%>
        <tr>
          <th scope="row">
            <strong><%= l(dose.created_at, format: :human) %></strong>
          </th>
          <td>
            <%= dose.appointment.ubs.name %>
          </td>
          <td>
            <%= dose.vaccine.name %>
          </td>
          <td>
            <%= dose.sequence_number %><sup>a</sup>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  <% else -%>
    <h4>Paciente sem nenhuma vacina aplicada até o momento.</h4>
  <% end -%>
</div>

<p>
  <%= link_to "Voltar", operator_patients_path %>
</p>
