<div class="row text-center">
  <div class="col">
    <!-- <i class="far fa-check-circle"></i> -->
    <%= icon('far', 'check-circle', class: 'strong') %>
    <p class="h3 mb-12">Pronto! Atendimento em domicílio solicitado</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Você informou que necessita atendimento em domicílio, portanto a equipe de saúde da unidade <strong><%= current_patient.main_ubs.name %></strong> fará contato e agendará o teste presencial em seu domicílio.</p>
    <p class="h8 mb-12">Fique atento ao telefone <strong><%= current_patient.phone %></strong> informado pois é por ele que será feito o contato para o agendamento.</p>
  </div>
</div>

<div class="row text-center">
  <div class="col text-center h1">
    <%= button_to toggle_bedridden_path, class: "btn btn-danger", method: :put, data: { confirm: "Deseja receber o teste na Unidade Básica de Saúde?" } do %>
      Não necessito atendimento em domicílio
    <% end %>
  </div>
</div>

<%= render "orientation_text" %>
