<div class="row text-center">
  <div class="col">
    <p class="h2">Paciente:</p>
  </div>
</div>

</p>

<div class="row">
  <div class="col">
    <strong>Nome:</strong>
    <%= @patient.name %>
  </div>

  <div class="col">
    <strong>CPF:</strong>
    <%= @patient.cpf %>
  </div>

  <div class="col">
    <strong>Cartão SUS (CNS):</strong>
    <%= @patient.sus %>
  </div>
</div>

</p>

<div class="row">
  <div class="col">
    <strong>Data de nascimento:</strong>
    <%= @patient.birth_date %>
  </div>

  <div class="col">
    <strong>Nome da mãe:</strong>
    <%= @patient.mother_name %>
  </div>

  <div class="col">
    <strong>Público-alvo:</strong> <%= I18n.t(@patient.target_audience) %>
  </div>
</div>

</p>

<div class="row">
  <div class="col">
    <strong>Email:</strong>
    <%= @patient.email %>
  </div>

  <div class="col">
    <strong>Telefone:</strong>
    <%= @patient.phone %>
  </div>

  <div class="col">
    <strong>Outro telefone:</strong>
    <%= @patient.other_phone %>
  </div>
</div>

</p>

<div class="row">
  <div class="col">
    <strong>Endereço:</strong>
    <%= @patient.public_place %>
  </div>

  <div class="col">
    <strong>Número:</strong>
    <%= @patient.place_number %>
  </div>

  <div class="col">
    <strong>Bairro:</strong>
    <%= @patient.neighborhood %>
  </div>
</div>

<br/>
</p>

<div class="row text-center">
  <div class="col">
    <p class="h2">Agendamentos:</p>
  </div>
</div>

</p>

<% @appointments.each do |appointment|%>
  <div class="row">
    <div class="col"><%= appointment.start %></div>
    <div class="col">
      <a
        href=<%= "/ubs/#{appointment.id}/cancel_appointment" %>
        onclick="return confirm('Você tem certeza?')"
      >Excluir agendamento</a>
    </div>
  </div>
<% end %>

<a href=<%= ubs_index_path(@ubs) %>>Voltar</a>
