<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12" data-cy="successfullAppointmentCreatedText" >Agendamento realizado com sucesso!</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex">
      <ul class="list-inline mx-auto justify-content-center">
        <li><strong>Nome: </strong><%= @appointment.patient.name %></li>
        <li><strong>Data: </strong><%= ApplicationHelper.humanize_datetime(@appointment.start) %></li>
        <li><strong>Unidade: </strong><%= @ubs.name %></li>
        <li><strong>Endereço: </strong><%= @ubs.address %></li>
      </ul>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <p class="d-flex">
      <strong>Para receber a vacina contra a Covid-19, seguir as instruções abaixo:</strong>

      <ol class="list-inline justify-content-center">
        <li>Reunir os seguintes documentos:</li>
        <ol>
          <li>Documento oficial de identificação com foto.</li>
          <li>Crachá funcional ou holerite/folha de pagamento ou declaração que comprove o vínculo com o serviço de saúde no Município de Joinville
          (em caso de terceirizados e estagiários, a declaração deve ser emitida pelo serviço de saúde contratante, para comprovar o vínculo).</li>
          <li>Se trabalhador atuante em serviços de saúde no Município de Joinville com comorbidades estabelecidas pelo Programa Nacional de Imunização (PNI),
            apresentar  atestado, declaração, laudo ou receita médica que comprove a condição clínica.</li>
        </ol>
        <li>Com os documentos, comparecer à Central de Imunização de Joinville, no Centreventos Cau Hansen, na data e horário agendados (estar no local com 15 minutos de antecedência).</li>
      </ol>
    </p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <a href="<%= index_time_slot_path %>" class="btn btn-primary" data-cy="backButton">Voltar</a>
  </div>
</div>
<br/>
