<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12">Agendamento realizado com sucesso!</p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">Dirija-se para a unidade abaixo no dia e hora marcados com um documento com foto e com 15 minutos de antecedência:</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex">
      <ul class="list-inline mx-auto justify-content-center">
        <li><strong>Data: </strong><%= ApplicationHelper.humanize_datetime(@appointment.start) %></li>
        <li><strong>UBS: </strong><%= @ubs.name %></li>
        <li><strong>Endereço: </strong><%= @ubs.address %></li>
        <li><strong>Telefone: </strong><%= @ubs.phone %></li>
      </ul>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <p class="h8 mb-12">
      Importante: para cancelar seu agendamento, basta entrar novamente e inserir seu CPF.
      <br>
      Caso haja alteração por parte da unidade, será realizado contato pelo telefone informado no cadastro.
      <br>
    </p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <a href="<%= index_time_slot_path %>" class="btn btn-primary btn-block">Voltar</a>
  </div>
</div>
