<div class="row text-center">
  <div class="col">
    <p class="h3 mb-12" data-cy="successfullAppointmentCreatedText" >Agendamento realizado com sucesso!</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="d-flex">
      <ul class="list-inline mx-auto justify-content-center">
        <li><strong>Nome: </strong><%= @appointment.patient.name %></li>
        <li><strong>Data: </strong><%= ApplicationHelper.humanize_datetime(@appointment.start) %></li>
        <li><strong>Unidade: </strong><%= @ubs.name %></li>
        <li><strong>Endereço: </strong><%= @ubs.address %></li>
      </ul>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col">
    <p class="d-flex">
      <strong>Para receber a vacina contra a Covid-19, seguir as instruções abaixo:</strong>

      <ol class="list-inline justify-content-center">
        <li>Reunir os seguintes documentos:</li>
        <ol>
          <li>Documento oficial de identificação com foto.</li>
          <li>Crachá funcional ou holerite/folha de pagamento ou declaração que comprove o vínculo com o serviço de saúde no Município de Joinville
          (em caso de terceirizados e estagiários, a declaração deve ser emitida pelo serviço de saúde contratante, para comprovar o vínculo).</li>
          <li>Se trabalhador atuante em serviços de saúde no Município de Joinville com comorbidades estabelecidas pelo Programa Nacional de Imunização (PNI),
            apresentar  atestado, declaração, laudo ou receita médica que comprove a condição clínica.</li>
          <li>Se imunossuprimido, obrigatório apresentar liberação médica por escrito autorizando a aplicação da vacina.</li>
          <li>Considerando o Item 4 do Ofício OFÍCIO Nº 234/2021/CGPNI/DEIDT/SVS/MS de 11 de março de 2021, os estabelecimentos de Interesse à Saúde (exemplos: academias de ginástica, clubes, salão de beleza, clínica de estética, óticas, estúdios de tatuagem e estabelecimentos de saúde animal) NÃO serão contemplados nos grupos prioritários elencados inicialmente para a vacinação. Consulte este documento na íntegra <strong><a href='https://sei.saude.gov.br/sei/controlador_externo.php?acao=documento_conferir&codigo_verificador=0019503426&codigo_crc=F8270EA1&hash_download=c75bb47fcc0d5d0b70b40bfd0848238db8354ea36398aa3693f563ee1e2838c3c15ca16c8fb14a06cc1ff05aca00c096844b00e346a47e9011758fa6cfd98f47&visualizacao=1&id_orgao_acesso_externo=0', target='blank'>AQUI</a></strong>.</li>
        </ol>
        <li>Com os documentos, comparecer à Central de Imunização de Joinville, no Centreventos Cau Hansen, na data e horário agendados (estar no local com 15 minutos de antecedência).</li>
      </ol>
    </p>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <a href="<%= index_time_slot_path %>" class="btn btn-primary" data-cy="backButton">Voltar</a>
  </div>
</div>
<br/>
