<h1>Pacientes</h1>

<p>
  Filtros:
  <%= link_to "Nenhum filtro", admin_patients_path %> |
  <%= link_to "Bloqueados", admin_patients_path(filter: "locked") %>
</p>

<div class="row mt-4">
  <div class="col-12">
    <%= form_with url: admin_patients_path, method: :get, local: true do |f| %>
      <div class="input-group input-group-lg">
        <%= f.text_field :search, autofocus: true, minlength: 3, maxlength: 100, class: "form-control",
                         placeholder: "Digite a senha do atendimento, o CPF ou nome do paciente", value: @search,
                         data: { cy: "searchInput" } %>
        <div class="input-group-append">
          <%= f.submit "Buscar", class: "btn btn-outline-secondary", data: { cy: "searchSubmit" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">CPF</th>
    <th scope="col">Paciente</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @patients.each do |patient| -%>
    <tr data-cy="patient">
      <th scope="row" class="align-middle">
        <%= link_to patient.cpf, admin_patient_path(id: patient.id) %>
      </th>
      <td>
        <%= link_to patient.name, admin_patient_path(id: patient.id) %>
      </td>
      <td>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>

<div>
  <%= paginate @patients %>
</div>
