<div class="row">
  <div class="col-10">
    <h1 class="h4">
      Paciente: <%= @patient.name %>
    </h1>
  </div>

  <div class="col-2">
    <%= link_to "Editar", edit_admin_patient_path(@patient), class: 'btn btn-primary btn-block' %>
  </div>
</div>

<p>
  <% if @patient.locked? -%>
    Paciente bloqueado.
    <%= link_to "Desbloquear", unblock_admin_patient_path(id: @patient.id), method: :patch,
                class: "btn btn-secondary " %>
  <% end -%>
</p>

<%= render @patient %>

<h4>Agendamentos</h4>
<% if @patient.appointments.any? -%>
  <% @patient.appointments.order(:start).each do |appointment| -%>
    <%= render appointment %>
  <% end -%>
<% else -%>
  <p>Paciente sem nenhum agendamento.</p>
<% end -%>

<div class="mt-4 mb-5">
  <h4>Doses de vacinas</h4>
  <% if @patient.doses.any? -%>
    <table class="table">
      <thead>
      <tr>
        <th scope="col" width="1%">#</th>
        <th scope="col">Data da aplicação</th>
        <th scope="col">Unidade</th>
        <th scope="col">Vacina</th>
        <th scope="col">Dose</th>
        <th scope="col">Agendamento #</th>
        <th scope="col">Reforço #</th>
      </tr>
      </thead>
      <tbody>

      <% @patient.doses.order(:created_at).each do |dose| -%>
        <tr>
          <td>
            <%= dose.id %>
          </td>
          <th scope="row">
            <strong><%= l(dose.created_at, format: :human) %></strong>
          </th>
          <td>
            <%= dose.appointment.ubs.name %>
          </td>
          <td>
            <%= dose.vaccine.name %>
          </td>
          <td>
            <%= dose.sequence_number %><sup>a</sup>
          </td>
          <td>
            <%= link_to dose.appointment.id, admin_appointment_path(dose.appointment) %>
          </td>
          <td>
            <% if dose.follow_up_appointment -%>
              <%= link_to dose.follow_up_appointment.id, admin_appointment_path(dose.follow_up_appointment) %>
            <% end -%>
          </td>
        </tr>
      <% end -%>
      </tbody>
    </table>
  <% else -%>
    <p>Paciente sem nenhuma vacina.</p>
  <% end -%>
</div>

<p>
  <%= link_to "Voltar", admin_patients_path %>
</p>
