<%# Temp way to present errors until we have something better %>
<% if patient.errors.any? -%>
  <div class="alert alert-danger">
    <p>Não foi possível gravar:</p>
    <ul>
      <% patient.errors.full_messages.select { |m| m.is_a?(String) }.each do |msg| %>
        <%= content_tag :li, msg, id: "error_#{msg}" %>
      <% end %>
    </ul>
  </div>
<% end -%>

<p>
  As informações coletadas são de uso único e exclusivo do sistema de agendamento da vacina, afim de atestar a
  veracidade do cadastro.
</p>

<div class="form-row">
  <div class="form-group col-md-12">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">CPF</div>
      </div>
      <%= f.text_field :cpf,
                       readonly: true,
                       class: "form-control form-control-lg",
                       aria: { describedby: "cpfHelp" } %>
    </div>
  </div>
</div>

<h3>Dados pessoais</h3>

<p>Todos os dados informados serão confirmados no momento da vacinação.</p>

<div class="form-row">
  <div class="form-group col-md-4">
    <%= f.label :name %>
    <%= f.text_field :name,
                     autofocus: true, autocomplete: "name", required: true,
                     class: "form-control",
                     aria: { describedby: "nameHelp" } %>
    <small id="nameHelp" class="form-text text-muted">
      Nome completo conforme documento de identificação com foto.
    </small>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :birthday %>
    <div class="form-row">
      <%= f.date_select :birthday,
                        {
                          start_year: (Date.current.year.to_i) - 17, # min age
                          end_year: Date.current.year.to_i - 120, # max age
                          with_css_classes: true
                        },
                        required: true,
                        aria: { describedby: "birthDateHelp" },
                        class: "form-control" %>
    </div>
    <small id="birthDateHelp" class="form-text text-muted">
      Data de nascimento conforme documento de identificação com foto.
    </small>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :mother_name %>
    <%= f.text_field :mother_name,
                     autocomplete: "mother_name", required: true,
                     class: "form-control" %>
    <small id="birthDateHelp" class="form-text text-muted">
      Nome completo da <strong>mãe</strong>.
    </small>
  </div>
</div>

<h3>Grupos prioritários que pertence</h3>

<p>É necessário <strong>comprovar com documento oficial</strong> no momento da aplicação da vacina. Escolha ao menos uma
  das opções abaixo.</p>

<div class="form-row">
  <div class="form-group col-md-12">
    <div class="form-check" data-group-context-priority="">
      <%= render partial: 'group_boxes', locals: { group: Group.priority, f: f, patient: patient } %>
    </div>
  </div>
</div>

<h3>Comorbidades que possui</h3>

<p>
  Caso você tenha alguma comorbidade, será necessário apresentar ao menos um dos documentos abaixo para comprovar-la:
  <ul>
    <li>Atestado médico ou relatório médico com a indicação da condição da pessoa;</li>
    <li>Prescrição médica ou exames ou receitas que deixem claro a condição da pessoa;</li>
    <li>Receita de medicamentos não controlados com validade de 1 ano, que deixem claro a condição da pessoa.</li>
  </ul>
</p>

<p>Escolha ao menos uma das opções abaixo.</p>

<p>
  Se a sua comorbidade não está listada aqui ela não faz parte do grupo prioritário listado no Programa Nacional de
  Imunização (PNI), definido pelo Ministério da Saúde.
</p>

<div class="form-row">
  <div class="form-group col-md-12">
    <div class="form-check" data-group-context-comorbidity="">
      <%= render partial: 'group_boxes', locals: { group: Group.comorbidity, f: f, patient: patient } %>
    </div>
  </div>
</div>

<h3>Endereço residencial</h3>

<div class="form-row">
  <div class="form-group col-md-8">
    <%= f.label :public_place %>
    <%= f.text_field :public_place,
                     autocomplete: "place", required: true,
                     class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :place_number %>
    <%= f.text_field :place_number,
                     required: true,
                     class: "form-control" %>
  </div>

  <div class="form-group col-md-2">
    <%= f.label :neighborhood %>
    <%= f.select :neighborhood, Neighborhood.pluck(:name), {},
                 class: "form-control" %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :phone %>
    <%= f.text_field :phone,
                     autocomplete: "phone", required: true,
                     class: "form-control sp-celphones" %>
  </div>

  <div class="form-group col-md-6">
    <%= f.label :other_phone %>
    <%= optional_field_tag %>
    <%= f.text_field :other_phone,
                     autocomplete: "other_phone", required: false,
                     class: "form-control sp-celphones" %>
  </div>
</div>

<h3>Dados complementares</h3>

<div class="form-row">
  <div class="form-group col-md-8">
    <%= f.label :email %>
    <%= optional_field_tag %>
    <%= f.email_field :email,
                      autocomplete: "email", required: false,
                      class: "form-control",
                      aria: { describedby: "emailHelp" } %>
    <small id="emailHelp" class="form-text text-muted">
      Endereço de email.
    </small>
  </div>

  <div class="form-group col-md-4">
    <%= f.label :sus %>
    <%= optional_field_tag %>
    <%= f.number_field :sus,
                       autocomplete: "sus", required: false,
                       class: "form-control" %>
    <small id="susHelp" class="form-text text-muted">
      Número do cartão SUS. Descubra o número acessando
      <a href="https://cartaosusdigital.saude.gov.br" target="cartaosus">Cartão SUS Digital</a>.
    </small>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-group-parent]').on('change', function () {
      groupToggle($(this))
    }).each(function () {
      groupToggle($(this))
    })

    let selectors = [
      '[data-group-context-priority] :checkbox',
      '[data-group-context-comorbidity] :checkbox'
    ];
    selectors.forEach(function (selector) {
      $(selector).on('change', function () {
        requireToggle($(selector))
      }).each(function () {
        requireToggle($(selector))
      })
    })
  })
</script>
