<%= f.collection_check_boxes :group_ids, group.root.active.order(:position).includes(:children), :id, :name do |b| %>
  <div class="row">
    <%= b.label do
      b.check_box(
        checked: patient.groups.map(&:id).map(&:to_i).include?(b.value.to_i),
        class: "form-check-input",
        data: { 'group-parent' => b.value },
      ) + b.text
    end %>
  </div>

  <% if b.object.children.active.order(:position).any? %>
    <div class="form-row" hidden="true" data-group-child="<%= b.value %>">
      <div class="form-group col-md-8">
        <div class="form-check">
          <%= f.collection_check_boxes :group_ids, b.object.children, :id, :name do |s| %>
            <div class="row">
              <%= s.label { s.check_box(checked: patient.groups.map(&:id).map(&:to_i).include?(s.value.to_i), class: "form-check-input") + s.text } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
