<%= form_for [:admin, @group] do |f| %>
  <%= error_messages_for(f.object) %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <%= f.label :parent_group_id %>
      <%= f.collection_select :parent_group_id, Group.root.admin_order.where.not(id: @group.id), :id, :name, { prompt: "- (sem pai)"}, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :context %>
      <%= f.select :context, Group.contexts_for_select, {}, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
      <%= f.label :position %>
      <%= f.text_field :position, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
      <%= f.label :active %>
      <%= f.check_box :active, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.submit class: 'form-control btn-primary' %>
    </div>
  </div>
<% end %>
