<%= form_for [:admin, @group] do |f| %>
  <% if @group.errors.any? -%>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@group.errors.count, "error")} prohibited this org from being saved:" %></h2>
      <ul>
        <% @group.errors.full_messages.each do |message| -%>
          <li><%= message %></li>
        <% end -%>
      </ul>
    </div>
  <% end -%>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.label :name %>
      <%= f.text_field :name, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-8">
      <%= f.label :parent_group_id %>
      <%= f.collection_select :parent_group_id, Group.root.admin_order.where.not(id: @group.id), :id, :name, { prompt: "- (sem pai)"}, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :context %>
      <%= f.select :context, Group.contexts.keys, {}, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
      <%= f.label :position %>
      <%= f.text_field :position, required: true, class: "form-control" %>
    </div>

    <div class="form-group col-md-1">
      <%= f.label :active %>
      <%= f.check_box :active, required: true, class: "form-control" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.submit %>
    </div>
  </div>
<% end %>
