<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <strong>Paciente: </strong><%= appointment.patient.name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Data: </strong><%= ApplicationHelper.humanize_datetime(appointment.start) %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Unidade: </strong><%= appointment.ubs.name %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Endereço: </strong><%= appointment.ubs.address %>
      </div>
    </div>

    <% if appointment.vaccine_name.present? %>
      <div class="row">
        <div class="col" data-cy="appliedVaccineName">
          <strong>Vacina: </strong><%= appointment.vaccine_name.capitalize %>
        </div>
      </div>
    <% end %>

    <div class="row mt-4">
      <div class="col">
        <strong>Imprima ou salve esta página para sua conferência.</strong>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col text-muted">
        Código do agendamento: <%= "U#{appointment.ubs_id}P#{appointment.patient_id}A#{appointment.id}" %>
      </div>
    </div>

    <%= render "shared/required_documents" %>
  </div>
</div>
