<h1><%= @ubs.name %></h1>

<div class="row mt-4">
  <div class="col-12">
    <%= form_with url: operator_appointments_path, method: :get, local: true do |f| %>
      <div class="input-group input-group-lg">
        <%= f.text_field :search, autofocus: true, minlength: 3, maxlength: 100, class: "form-control",
                         placeholder: "Digite a senha do atendimento, o CPF ou nome do paciente agendado para hoje", value: @search,
                         data: { cy: "searchInput" } %>
        <div class="input-group-append">
          <%= f.submit "Buscar", class: "btn btn-outline-secondary", data: { cy: "searchSubmit" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs mt-5 mb-1">
  <%= operator_nav_links(@filter, @search, @appointments&.total_count) %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Configurações</a>
    <div class="dropdown-menu">
      <%= link_to "Status desta unidade", operator_ubs_path(@ubs), class: "dropdown-item" %>
    </div>
  </li>
</ul>
