<div class="row">
  <div class="col-10">
    <h1 class="h4">Unidade: <%= @ubs.name %></h1>
  </div>

  <div class="col-2">
    <%= link_to "Editar", edit_admin_ubs_path(@ubs), class: 'btn btn-primary btn-block' %>
  </div>
</div>

<h5>Horários de funcionamento</h5>

<ul>
  <li>
    Domingo:
    <%= human_shifts(@ubs, weekday: 0) %>
  </li>
  <li>
    2<sup>a</sup>-6<sup>a</sup>:
    <%= human_shifts(@ubs) %>
  </li>
  <li>
    Sábado:
    <%= human_shifts(@ubs, weekday: 6) %>
  </li>
</ul>

<p>
  <%= link_to "Voltar", admin_ubs_index_path %>
</p>
