<h1>Alterar horário de funcionamento de <%= @ubs.name %></h1>

<% if @ubs.errors.present? %>
  <div id="error_explanation">
    <ul>
      <li>Os horários devem estar em ordem</li>
    </ul>
  </div>
<% end %>

<%= form_for @ubs, url: ubs_change_active_hours_path do |f| %>
  <div class="d-flex mt-5 align-items-center justify-content-between">
  
  <div class="field">
    <%= f.label :shift_start, 'Inicio do expediente' %><br />
    <%= f.time_select :shift_start_date, minute_step: 15, ignore_date: true %>
  </div>

  <br/>
  <br/>

  <div class="field">
    <%= f.label :break_start, 'Inicio do intervalo' %><br />
    <%= f.time_select :break_start_date, minute_step: 15, ignore_date: true %>
  </div>

  <br/>
  <br/>

  <div class="field">
    <%= f.label :break_end, 'Final do intervalo' %><br />
    <%= f.time_select :break_end_date, minute_step: 15, ignore_date: true %>
  </div>

  <br/>
  <br/>

  <div class="field">
    <%= f.label :shift_end, 'Final do expediente' %><br />
    <%= f.time_select :shift_end_date, minute_step: 15, ignore_date: true %>
  </div>

  <br/>
  <br/>

  </div>
  <div class="d-flex mt-5 justify-content-center">
  <% if @appointments.present? %>
    <p>Não é possível modificar horário de funcionamento enquanto houverem consultas agendadas.</p>
    <%= f.submit "Atualizar", :class => 'btn btn-primary', disabled: true %>
  <% else %>
    <%= f.submit "Atualizar", :class => 'btn btn-primary' %>
  <% end %>
  </div>
<% end %>
