<h1>Ubs#active_hours</h1>
<p>Find me in app/views/ubs/active_hours.html.erb</p>


<%= form_for :ubs, url: ubs_active_hours_path(format: "json") do |f| %>
  <div class="field">
    <%= f.label :shift_start, 'Inicio do expediente' %><br />
    <%= f.time_select :shift_start, minute_step: 15, ignore_date: true, value: @ubs.shift_start %>
  </div>

  <br/>
  <br/>

  <div class="field">
    <%= f.label :break_start, 'Inicio do intervalo' %><br />
    <%= f.time_select :break_start, minute_step: 15, ignore_date: true, value: @ubs.break_start %>
  </div>

  <br/>
  <br/>

  <div class="field">
    <%= f.label :break_end, 'Final do intervalo' %><br />
    <%= f.time_select :break_end, minute_step: 15, ignore_date: true, value: @ubs.break_end %>
  </div>

  <br/>
  <br/>

  <div class="field">
    <%= f.label :shift_end, 'Final do expediente' %><br />
    <%= f.time_select :shift_end, minute_step: 15, ignore_date: true, value: @ubs.shift_end %>
  </div>

  <br/>
  <br/>


  <%= f.submit "Atualizar" %>
<% end %>
