<%= render :layout => '/ubs/nav' do %>
  <div class="row">
    <div class="col-12">
      <%= form_with url: find_patients_path, method: :post, local: true do |f| %>
        <div class="input-group input-group-lg" style="margin-bottom: 3%;">
          <%= f.text_field :cpf, autofocus: true, minlength: 11, maxlength: 11, class: "form-control", placeholder: 'CPF', value: @cpf %>
          <div class="input-group-prepend">
            <span class="input-group-text" id="">OU</span>
          </div>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: 'Nome', value: @name, data: { cy: "searchPatientByNameInputField" } %>
          <div class="input-group-append">
            <%= f.submit "Buscar", class: "btn btn-outline-secondary", data: { cy: "submitSearchButton" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% if @appointments_patients.present? %>
    <table class="table table-hover text-large">
      <thead>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Hora</th>
          <th scope="col">Nome</th>
          <th scope="col">CPF</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @appointments_patients.each do |appointment| %>
          <tr>
            <td><%= appointment[:start].strftime("%d/%m/%Y") %></td>
            <td><b><%= appointment[:start].strftime("%Hh%M") %></b></td>
            <td><%= appointment[:name] %></td>
            <td data-cy="checkInPatientCpf"><%= ApplicationHelper.humanize_cpf(appointment[:cpf]) %></td>
            <% if !appointment[:active] %>
              <td><a class="btn btn-danger" href=<%= ubs_patient_checkin_path(id: appointment[:id]) %> >Cancelado</a></td>
            <% elsif appointment[:start] < Time.zone.now.end_of_day %>
              <td><a class="btn btn-success" href=<%= ubs_patient_checkin_path(id: appointment[:id]) %> data-cy="patientCheckIn">Check-In</a></td>
            <% else %>
              <td><a class="btn btn-secondary" href=<%= ubs_patient_checkin_path(id: appointment[:id]) %> >Check-In</a></td>
            <% end %>
          </tr>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-center" style="padding: 10%">
      <h3 data-cy="patientNotFoundText">Pessoa não encontrada</h3>
    </div>
  <% end %>
<% end %>
