index<br/>

<% @appointments.each do |appointment| %>
  <div class="row">
    <div class="col"><%= appointment.start %></div>
    <div class="col"><%= appointment.patient.name %></div>
    <div class="col"><%= appointment.patient.phone %></div>
    <div class="col"><%= appointment.patient.other_phone %></div>
    <div class="col">
      <a
        href=<%= "/ubs/#{appointment.id}/cancel_appointment" %>
        onclick="return confirm('Você tem certeza?')"
      >Desativar consulta</a>
    </div>
  </div>
<% end %>

<a href="<%= ubs_active_hours_path %>">Alterar horário de funcionamento</a><br/>
<a href="<%= ubs_slot_duration_path %>">Alterar durações de atendimento</a><br/>
<a
  href=<%= "/ubs/#{@ubs.id}/cancel_all_future_appointments" %>
  onclick="return confirm('Você tem certeza?')"
>Desativar todas consultas futuras</a>

<%= button_to 'Sair', destroy_user_session_path, method: :delete %>
