<h1><%= @ubs.name %></h1>

<% if @ubs.active %>
  <div class="d-flex justify-content-between align-items-center alert alert-success" role="alert">
    Unidade ativada: Aceitando agendamentos.
    <a class="btn btn-danger" href=<%= "/ubs/#{@ubs.id}/deactivate_ubs" %>
    onclick="return confirm('Você tem certeza?')">Desativar Unidade</a>
  </div>
<% else %>
  <div class="d-flex justify-content-between align-items-center alert alert-danger" role="alert">
    Unidade desativada: Não aceitando agendamentos.
    <a class="btn btn-success" href=<%= "/ubs/#{@ubs.id}/activate_ubs" %>
    onclick="return confirm('Você tem certeza?')">Ativar Unidade</a>
  </div>
<% end %>

<div class="alert alert-info">Ao cancelar ou reativar um agendamento por favor entrar em contato com o paciente.</div>

<div class="mt-5">
  <hr><h4>Opções Administrativas</h4>
  <tr>
    <td><a class="btn btn-primary" href="<%= ubs_active_hours_path %>">Alterar horário de funcionamento</a></td>
    <td><a class="btn btn-primary" href="<%= ubs_slot_duration_path %>">Alterar durações de atendimento</a></td>
  </tr>
  <hr>
</div>

<div class="mt-5">
  <h3> Lista de Agendamentos </h3>
  <% if @appointments.present? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Data e Hora</th>
          <th scope="col">Paciente</th>
          <th scope="col">Telefone Principal</th>
          <th scope="col">Telefone Secundário</th>
          <th scope="col">Ação Sobre o Agendamento</th>
        </tr>
      </thead>
      <tbody>
    <% @appointments.each do |appointment| %>
      <% if appointment.active %>
        <tr>
          <th scope="row"><%= appointment.start.strftime("%d/%m/%Y -- %H:%M") %></th>
          <td><a href=<%= "/patients/#{appointment.patient.id}" %>><%= appointment.patient.name %></a></td>
          <td><%= appointment.patient.phone %></td>
          <td><%= appointment.patient.other_phone %></td>
          <td><a class="btn btn-primary" href=<%= "/ubs/#{appointment.id}/cancel_appointment" %>
            onclick="return confirm('Você tem certeza?')"
          >Suspender agendamento</a></td>
        </tr>

      <% else %>
        <tr>
          <th scope="row"><del><%= appointment.start.strftime("%H:%M - %d/%m/%Y") %></del></th>
          <td><del><a href=<%= "/patients/#{appointment.patient.id}" %>><%= appointment.patient.name %></a></del></td>
          <td><%= appointment.patient.phone %></td>
          <td><%= appointment.patient.other_phone %></td>
          <td><a class="btn btn-primary" href=<%= "/ubs/#{appointment.id}/activate_appointment" %>
              onclick="return confirm('Você tem certeza?')"
          >Reativar agendamento</a></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
    </table>
    <p>
    <a class="btn btn-danger" href=<%= "/ubs/#{@ubs.id}/cancel_all_future_appointments" %>
    onclick="return confirm('Você tem certeza?')">Desativar todos agendamentos futuros</a>
    <a class="btn btn-success" href=<%= "/ubs/#{@ubs.id}/activate_all_future_appointments" %>
    onclick="return confirm('Você tem certeza?')">Ativar todos agendamentos futuros</a><br/>
    </p>
  <% else %>
    <p>Nenhum paciente agendou horário até o momento.</p>
  <% end %>
</div>

