<% if @ubs.active %>
  <p>Ubs ativada: aceitando agendamentos</p>
  <a
    href=<%= "/ubs/#{@ubs.id}/deactivate_ubs" %>
    onclick="return confirm('Você tem certeza?')"
  >Desativar Ubs</a><br/>
<% else %>
  <p>Ubs desativada: não aceitando agendamentos</p>
  <a
    href=<%= "/ubs/#{@ubs.id}/activate_ubs" %>
    onclick="return confirm('Você tem certeza?')"
  >Ativar Ubs</a><br/>
<% end %>

<p>Ao cancelar ou reativar um agendamento por favor entrar em contato com o paciente.</p>

<% @appointments.each do |appointment| %>
<% if appointment.active %>
  <div class="row">
    <div class="col"><%= appointment.start %></div>
    <div class="col">
      <a href=<%= "/patients/#{appointment.patient.id}" %>><%= appointment.patient.name %></a>
    </div>
    <div class="col"><%= appointment.patient.phone %></div>
    <div class="col"><%= appointment.patient.other_phone %></div>
    <div class="col">
      <a
        href=<%= "/ubs/#{appointment.id}/cancel_appointment" %>
        onclick="return confirm('Você tem certeza?')"
      >Cancelar agendamento</a>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col"><del><%= appointment.start %></del></div>
    <div class="col">
      <del>
        <a href=<%= "/patients/#{appointment.patient.id}" %>><%= appointment.patient.name %></a>
      </del>
    </div>
    <div class="col"><%= appointment.patient.phone %></div>
    <div class="col"><%= appointment.patient.other_phone %></div>
    <div class="col">
      <a
        href=<%= "/ubs/#{appointment.id}/activate_appointment" %>
        onclick="return confirm('Você tem certeza?')"
      >Reativar agendamento</a>
    </div>
  </div>
<% end %>
<% end %>

<a href="<%= ubs_active_hours_path %>">Alterar horário de funcionamento</a><br/>
<a href="<%= ubs_slot_duration_path %>">Alterar durações de atendimento</a><br/>
<a
  href=<%= "/ubs/#{@ubs.id}/cancel_all_future_appointments" %>
  onclick="return confirm('Você tem certeza?')"
>Desativar todas consultas futuras</a><br/>
<a
  href=<%= "/ubs/#{@ubs.id}/activate_all_future_appointments" %>
  onclick="return confirm('Você tem certeza?')"
>Ativar todas consultas futuras</a>

<%= button_to 'Sair', destroy_user_session_path, method: :delete %>
