<div class="row">
  <div class="col-md-12">
    <% if !@appointment.active %>
      <h3>Agendamento Cancelado</h3>
    <% elsif @appointment.check_out.present? %>
      <h3>Check-out Realizado</h3>
    <% else %>
      <h3>Check-out</h3>
    <% end %>
  </div>
</div>

<% if @second_dose_appointment.present? && !@appointment.second_dose? %>
  <div class="alert alert-info alert-dismissable", data-cy="alertMessage" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="row" style="font-size: 2rem;">
      <div class="col-8">
        <b data-cy="secondDoseScheduledText">Agendamento Marcado</b> - 2ª dose da vacina:
      </div>
      <div class="col-4" style="text-align: right">
        <b><%= @second_dose_appointment.start.strftime("%d/%m - %H:%M") %></b>
      </div>
    </div>
  </div>
  <p class="small patient-muted">* Lembre-se de instruir a pessoa para a data e hora da 2º dose da vacina.</p>
<% elsif @patient[:vaccinated] %>
  <div class="alert alert-info alert-dismissable", data-cy="alertMessage" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="row" style="font-size: x-large;">
      <div class="col-12">
        <b data-cy="secondDoseDone"><%= @patient[:name] %></b> está devidamente imunizada(o) com as duas doses!!
      </div>
    </div>
  </div>
<% end %>


<%= form_with url: confirm_check_out_path(id: @appointment.id), method: :post, local: true do |f| %>
  <div class="card">
    <div class="card-header" style="font-size: 1.5rem;">
      <b>
        <% if @appointment.active %>
          <%= ApplicationHelper.humanize_datetime(@appointment.start) %>
        <% else %>
          <del> <%= ApplicationHelper.humanize_datetime(@appointment.start) %> </del>
        <% end %>
      </b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="patient-name"> <%= @patient[:name] %></div>
          <div class="patient-muted"> <%= ApplicationHelper.humanize_cpf(@patient[:cpf]) %> </div>
        </div>
        <div class="col-md-6">
          <% if @appointment.check_in.present? %>
            <i class="fa fa-check-circle icons" aria-hidden="true" style="color: green; float: right; position: initial;"></i>
          <% elsif !@appointment.active %>
            <i class="fa fa-times-circle icons" aria-hidden="true" style="color: red; float: right; position: initial;"></i>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p style="padding-top: 2%">
            <span class="badge badge-pill badge-primary pills-groups"> <%= @patient[:group] %> </span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>
            <% if @appointment.active %>
              <% if @appointment.check_in.present? && @appointment.check_out.present? %>
                <span class="badge badge-pill badge-success pills-info" data-cy="checkoutTag">Check-out OK</span>
              <% elsif @appointment.check_in.present? %>
                <span class="badge badge-pill badge-success pills-info">Check-in OK</span>
              <% end %>
              <% if @second_dose_appointment.present? %>
                <% if @appointment.second_dose? %>
                  <span class="badge badge-pill badge-success pills-info" data-cy="secondDoseTag">2ª Dose</span>
                <% else %>
                  <span class="badge badge-pill badge-success pills-info" data-cy="secondDoseScheduledTag">2ª Dose AGENDADA</span>
                <% end %>
                <span class="badge badge-pill badge-success pills-info" data-cy="vaccineNameTag"><%= @second_dose_appointment.vaccine_name.capitalize %></span>
              <% end %>
            <% else %>
              <span class="badge badge-pill badge-danger pills-info">Agendamento Cancelado</span>
            <% end %>
          </p>
        </div>
      </div>
      <% if @second_dose_appointment.blank? && !@appointment.second_dose? %>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10 text-center">
            <div class="form-group">
              <label class="patient-name" for="patient_vaccine">Vacina aplicada</label>
              <b style="color: red;">*</b>

              <select required class="form-control" name="patient[vaccine]" id="patient_vaccine" data-cy="vaccineSelect">
                <option disabled selected value> -- selecione -- </option>
                <option value="coronavac">Coronavac</option>
                <option value="astra_zeneca">Astra Zeneca</option>
              </select>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="buttons-details">
    <% if @appointment.active && @appointment.check_in.present? && @appointment.check_out.nil? && !@appointment.second_dose? %>
      <div class="row text-center">
        <div class="col-md-12">
          <%= f.submit "Realizar Check-out", class: "btn btn-success btn-block btn-lg", data: { confirm: 'Confirme para sinalizar que esta pessoa fez o check-out e está pronta para agendar a segunda dose.', cy: 'executePatientCheckOut' } %>
        </div>
      </div>
    <% elsif @appointment.active && @appointment.check_in.present? && @appointment.check_out.nil? && @appointment.second_dose? %>
      <div class="row text-center">
        <div class="col-md-12">
          <%= f.submit "Realizar Check-out", class: "btn btn-success btn-block btn-lg", data: { confirm: 'Confirmar a aplicação da segunda dose.', cy: 'executePatientCheckOut' } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row text-center">
  <div class="col-md-12">
    <%= link_to "Voltar para check-out", list_checkout_path, class: "btn-lg", data: { cy: "goBackToCheckOutListButton" } %>
  </div>
</div>

<%= stylesheet_link_tag 'ubs.css' %>
