<div class="row">
  <div class="col-12">
    <% if !@appointment.active %>
      <h3>Agendamento Cancelado</h3>
    <% elsif @appointment.check_out.present? %>
      <h3>Check-out Realizado</h3>
    <% elsif @appointment.check_in.present? %>
      <h3>Check-in Realizado</h3>
    <% else %>
      <h3>Check-in</h3>
    <% end %>
  </div>
</div>

<% if @second_dose_appointment.present? %>
  <div class="alert alert-info alert-dismissable", data-cy="alertMessage" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="row" style="font-size: 2rem;">
      <div class="col-8">
        <b>Agendamento Marcado</b> - 2ª dose da vacina:
      </div>
      <div class="col-4" style="text-align: right">
        <b><%= @second_dose_appointment.start.strftime("%d/%m - %H:%M") %></b>
      </div>
    </div>
  </div>
  <p class="small patient-muted">* Lembre-se de instruir a pessoa para a data e hora da 2º dose da vacina.</p>
<% end %>

<div class="card">
  <div class="card-header">
    <% if @appointment.active %>
      <%= ApplicationHelper.humanize_datetime(@appointment.start) %>
    <% else %>
      <del> <%= ApplicationHelper.humanize_datetime(@appointment.start) %> </del>
    <% end %>
  </div>
  <div class="card-body">
    <div class="patient-name"> <%= @patient[:name] %> </div>
    <% if @appointment.check_in.present? %>
      <i class="fa fa-check-circle icons" aria-hidden="true" style="color: green;"></i>
    <% elsif !@appointment.active %>
      <i class="fa fa-times-circle icons" aria-hidden="true" style="color: red;"></i>
    <% end %>

    <div class="patient-muted"> <%= ApplicationHelper.humanize_cpf(@patient[:cpf]) %> </div>
    <p style="padding-top: 2%">
      <% @patient[:groups].each do |group| %>
        <span class="badge badge-pill badge-primary pills-groups"> <%= group %> </span>
      <% end %>
    </p>

    <p>
      <% if @appointment.active %>
        <% if @appointment.check_in.present? %>
          <span class="badge badge-pill badge-success pills-info">Check-in OK</span>
        <% else %>
          <% if Time.zone.now + ENV['EARLY_PATIENT_WARNING_MINUTES'].to_i.minutes < @appointment.start %>
            <span class="badge badge-pill badge-warning pills-info">Agendamento distante</span>
          <% end %>
          <% if @appointment.start < ENV['LATE_PATIENT_TOLERANCE_MINUTES'].to_i.minutes.ago %>
            <span class="badge badge-pill badge-warning pills-info">Paciente atrasado</span>
          <% end %>
        <% end %>

        <% if @second_dose_appointment.present? %>
          <span class="badge badge-pill badge-success pills-info">2ª Dose AGENDADA</span>
        <% end %>
      <% else %>
        <span class="badge badge-pill badge-danger pills-info">Agendamento Cancelado</span>
      <% end %>
    </p>
  </div>
</div>

<div class="buttons-details">
  <% if @appointment.active %>
    <div class="row text-center">
      <div class="col-md-6">
        <a class="btn btn-danger btn-block btn-lg" href=<%= "/ubs/#{@appointment.id}/cancel_appointment" %>
                  onclick="return confirm('Você tem certeza que deseja CANCELAR este agendamento?\nSerá necessário criar um novo agendamento para esta pessoa.')"
        >Cancelar agendamento</a>
      </div>
      <!-- check in button rule -->
      <% if @appointment.in_allowed_check_in_window? && @appointment.check_in.nil? %>
        <div class="col-md-6">
          <a class="btn btn-success btn-block btn-lg" href=<%= confirm_check_in_path(id: @appointment.id) %>
            onclick="return confirm('Confirme para sinalizar que esta pessoa fez o check-in e está pronta para entrar e receber a vacina.')"
          >Realizar Check-in</a>
        </div>
      <% end %>
      <!-- not allowed check in button rule -->
      <% if !@appointment.in_allowed_check_in_window? && @appointment.check_in.nil? %>
        <div class="col-md-6">
          <a class="btn btn-secondary btn-block btn-lg" href="#"
            onclick="return alert('Não é possível fazer check in de pacientes de outro dia')"
          >Realizar Check-in</a>
        </div>
      <% end %>
      <!-- check out button rule -->
      <% if @appointment.check_in.present? && @appointment.check_out.nil? %>
        <div class="col-md-6">
          <a class="btn btn-success btn-block btn-lg" href=<%= confirm_check_out_path(id: @appointment.id) %>
                    onclick="return confirm('Confirme para sinalizar que esta pessoa fez o check-out e está pronta para agendar a segunda dose.')"
          >Realizar Check-out</a>
        </div>
      <% end %>
    </div>
    <div class="row text-center" style="padding-top: 20px;">
      <% if @check_in %>
        <div class="col-md-12">
          <%= link_to "Voltar para check-in", list_checkin_path, class: "btn-lg" %>
        </div>
      <% end %>
      <% if @check_out %>
        <div class="col-md-12">
          <%= link_to "Voltar para check-out", list_checkout_path, class: "btn-lg" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row text-center">
      <div class="col-md-12">
        <%= link_to "Voltar para check-in", list_checkin_path, class: "btn-lg" %>
      </div>
    </div>
  <% end %>
</div>

<%= stylesheet_link_tag 'ubs.css' %>
