<div class="row">
  <div class="col-12">
    <% if !@appointment.active? %>
      <h3>Agendamento Cancelado</h3>
    <% elsif @appointment.check_in.present? %>
      <h3>Check-in Realizado</h3>
    <% else %>
      <h3>Check-in</h3>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-header" style="font-size: 1.5rem;">
    <b>
      <% if @appointment.active? %>
        <%= ApplicationHelper.humanize_datetime(@appointment.start) %>
      <% else %>
        <del> <%= ApplicationHelper.humanize_datetime(@appointment.start) %> </del>
      <% end %>
    </b>
  </div>
  <div class="card-body">
    <div class="patient-name"> <%= @patient[:name] %> </div>
    <% if @appointment.check_in.present? %>
      <i class="fa fa-check-circle icons" aria-hidden="true" style="color: green;"></i>
    <% elsif !@appointment.active? %>
      <i class="fa fa-times-circle icons" aria-hidden="true" style="color: red;"></i>
    <% end %>

    <div class="patient-muted"> <%= ApplicationHelper.humanize_cpf(@patient[:cpf]) %> </div>
    <p style="padding-top: 2%">
      <% @patient[:groups].each do |group| %>
        <span class="badge badge-pill badge-primary pills-groups"> <%= group %> </span>
      <% end %>
    </p>

    <p>
      <% if @appointment.active? %>
        <% if @appointment.check_in.present? %>
          <span class="badge badge-pill badge-success pills-info" data-cy="checkInOkTag">Check-in OK</span>
        <% else %>
          <% if Time.zone.now + ENV['EARLY_PATIENT_WARNING_MINUTES'].to_i.minutes < @appointment.start %>
            <span class="badge badge-pill badge-warning pills-info">Agendamento distante</span>
          <% end %>
          <% if @appointment.start < ENV['LATE_PATIENT_TOLERANCE_MINUTES'].to_i.minutes.ago %>
            <span class="badge badge-pill badge-warning pills-info">Paciente atrasado</span>
          <% end %>
        <% end %>
      <% else %>
        <span class="badge badge-pill badge-danger pills-info">Agendamento Cancelado</span>
      <% end %>
    </p>
  </div>
</div>

<div class="buttons-details">
  <% if @appointment.active? && @appointment.check_in.nil? %>
    <div class="row text-center">
      <div class="col-md-12">
        <% if @appointment.in_allowed_check_in_window?  %>
          <a class="btn btn-success btn-block btn-lg" data-cy="executePatientCheckIn" href=<%= confirm_check_in_path(id: @appointment.id) %>
                    onclick="return confirm('Confirme para sinalizar que esta pessoa fez o check-in e está pronta para entrar e receber a vacina.')"
          >Realizar Check-in</a>
        <% else %>
          <a class="btn btn-secondary btn-block btn-lg" href="#"
             onclick="return alert('Não é possível fazer check in de pacientes de outro dia')"
          >Realizar Check-in</a>
        <% end %>
      </div>
    </div>
    <div class="row text-center" style="padding-top:3%">
      <div class="col-md-12">
        <%= form_with url: suspend_appointment_ubs_path(id: @appointment.id), method: :get, local: true do |f| %>
          <div class="input-group mb-3">
            <%= f.text_field :reason, required: true, class: "form-control", placeholder: 'Informe o motivo da suspensão' %>
            <div class="input-group-append">
              <%= f.submit "Suspender agendamento", class: "btn btn-outline-danger" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="row text-center">
    <div class="col-md-12">
      <%= link_to "Voltar para check-in", list_checkin_path, class: "btn-lg", data: { cy: "goBackToCheckInSearchButton" } %>
    </div>
  </div>
</div>

<%= stylesheet_link_tag 'ubs.css' %>
