<h1>Alterar durações de atendimento</h1>

<% if @ubs.errors.present? %>
  <div id="error_explanation">
    <ul>
      <li>A duração deve ser maior que 0 e menor que 120 (2 horas)</li>
    </ul>
  </div>
<% end %>

<%= form_for @ubs, url: ubs_change_slot_duration_path do |f| %>
  <div class="field">
    <%= f.label :slot_interval_minutes, 'Duração de cada atendimento (em minutos):' %><br />
    <% if @ubs.active %>
      <%= f.number_field :slot_interval_minutes, disabled: 'disabled' %>
    <% else %>
      <%= f.number_field :slot_interval_minutes %>
    <% end %>
  </div>

  <div class="d-flex mt-3">
    <% if @ubs.active %>
      <div class="alert alert-warning">Não é possível modificar duração da consulta enquanto a unidade estiver Ativada.</div>
    <% else %>
      <%= f.submit "Atualizar", class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
