<h1>Alterar durações de atendimento</h1>

<% if @ubs.errors.present? %>
  <div id="error_explanation">
    <ul>
      <li>A duração deve ser maior que 0 e menor que 120 (2 horas)</li>
    </ul>
  </div>
<% end %>

<%= form_for @ubs, url: ubs_change_slot_duration_path do |f| %>
  <div class="field">
    <%= f.label :slot_interval_minutes, 'Duração de cada atendimento (em minutos):' %><br />
    <div class="form-group col-md-4">
      <% if @ubs.active %>
        <%= f.number_field :slot_interval_minutes, disabled: 'disabled' %>
    <% else %>
        <%= f.select :slot_interval_minutes, [5, 10, 15, 20, 30, 45, 60], {}, { class: "form-control" } %>
    <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label :appointments_per_time_slot, 'Número de atendimentos por horário:' %><br />
    <div class="form-group col-md-4">
      <% if @ubs.active %>
        <%= f.number_field :appointments_per_time_slot, disabled: 'disabled' %>
      <% else %>
        <%= f.number_field :appointments_per_time_slot, { min: 1, class: "form-control" }  %>
      <% end %>
    </div>
  </div>

  <div class="d-flex mt-3">
    <% if @ubs.active %>
      <div class="alert alert-warning">Não é possível modificar duração do atendimento enquanto a unidade estiver ativa.</div>
    <% else %>
      <%= f.submit "Atualizar", class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
