<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default early-two-thousand">
      <a class="navbar-brand" href=""><img src=<%= image_path('logo.png') %> width="auto" height="56px"></a>
      <% if !user_signed_in? && !patient_signed_in? %>
        <%= button_to new_user_session_path, class: "btn btn-primary", type: "button" do %>
          Entrar como Operador
        <% end %>
      <% elsif current_user %>
        <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-primary", type: "button" do %>
          Sair
        <% end %>
      <% else %>
        <%= button_to destroy_patient_session_path, method: :delete, class: "btn btn-primary", type: "button" do %>
          Sair
        <% end %>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
