<% if flash[:alert].present? %>
   <% # Do not remove this flatten stuff %>
   <% [flash[:alert]].flatten(0).each do |msg| %> 
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
<% end %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "CNES" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: false %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "current-password", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar Operador", class: 'btn btn-primary' %>
  </div>
<% end %>
